//ブレイクポイントミックスイン
@import '../assets/css/media-break';

h1{
	display: none;
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
.product-item-page-content,
.product-list-page-content{
	position: relative;
	max-width: 90%;
	margin: 12% auto 1%;
	background-color: #FFFFFF;
	padding: 10px;
	min-height: 1650px;
	.content{
		padding: 5%;
		.narukami-hedding-style1{//見出し１
			position: relative;
			width: 100%;
			display: block;
			text-align: center;
			margin:  20px auto 5px auto;
			@include media(large) {
    			font-size: 1em;
  			}
			&::before{
				content: '';
				position: absolute;
    			bottom: -10px;
    			display: inline-block;
    			width: 30px;
    			height: 2px;
    			left: 50%;
    			-webkit-transform: translateX(-50%);
    			transform: translateX(-50%);
    			background-color: #4e4d4d;
    			border-radius: 10px;
			}
		}
		.narukami-subtitle{
			width: 100%;
			margin: 0 auto 20px;
			padding-top: 15px;
			text-align: center;
			box-shadow: 0px 4px 2px -3px #b6b4b4;
			padding-bottom: 10px;
			@include media(large) {
    			font-size: .8em;
  			}
		}
		.narukami-hedding-style2{//見出し２
			position: relative;
			width: 100%;
			display: block;
			margin:  20px auto 5px auto;
			text-align: left;
			padding-left: 25px;
			box-sizing: border-box;
			@include media(large) {
    			font-size: 1em;
				padding-left: 15px;
  			}
			&::before{
				content: '';
				position: absolute;
    			bottom: -10px;
    			display: inline-block;
    			width: 100%;
    			height: 2px;
    			left: 50%;
    			-webkit-transform: translateX(-50%);
    			transform: translateX(-50%);
    			background-color: #b6b4b4;
    			border-radius: 10px;
			}
			&::after{
				content: '';
				position: absolute;
    			display: inline-block;
    			width: 10px;
    			height: 37px;
    			left: 0;
				top: 0;
    			background-color: #d16407;
				@include media(large) {
    				height: 27px;
					width: 7px;
  				}
			}
		}
		.narukami-subtitle2{
			width: 100%;
			margin: 0 auto 20px;
			text-align: left;
			padding: 8px 0 10px 14px;
			box-sizing: border-box;
			@include media(large) {
    			font-size: .8em;
  			}
		}
		.narukami-hedding-style3{//見出し3
			position: relative;
			width: 100%;
			display: block;
			margin:  20px auto 5px auto;
			text-align: left;
			padding-left: 45px;
			box-sizing: border-box;
			@include media(large) {
    			font-size: 1em;
				padding-left: 27px;
  			}
			&::before{
				content: '';
				position: absolute;
    			bottom: -10px;
    			display: inline-block;
    			width: 100%;
    			height: 2px;
    			left: 50%;
    			-webkit-transform: translateX(-50%);
    			transform: translateX(-50%);
    			background-color: #b6b4b4;
    			border-radius: 10px;
			}
			&::after{
				content: '';
				position: absolute;
    			display: inline-block;
    			width: 30px;
    			height: 30px;
    			left: 0;
				top: 5px;
    			background-color: #0086ad;	
				border-radius: 50%;
				@include media(large) {
    				width: 20px;
					height: 20px;
					top: 2px;
  				}
			}
		}
		.narukami-subtitle3{
			width: 100%;
			margin: 0 auto 20px;
			text-align: right;
			padding: 8px 14px 10px 0;
			@include media(large) {
    			font-size: .8em;
  			}
		}
		
		//商品リストブロック
		
		.item-list-block{//商品リストwrap
			position: relative;
			width: 100%;
			padding: 2%;
			margin-top: 3%;
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			gap: 20px;
			@include media(xlarge) {
    			grid-template-columns: repeat(3, 1fr);
  			}
			@include media(medium) {
    			grid-template-columns: repeat(2, 1fr);
  			}
			@include media(small) {
    			gap: 5px;
  			}
    		
			.item-list{//個別商品wrap
				color: inherit;
				max-width: 230px;
				position: relative;
				padding: 5%;
				transition: all 0.1s ease-in-out;
				border-radius: 5px;
				@include media(small) {
    				padding: 8%;
  				}
				&:hover{
					box-shadow: .1px .1px 3px;
				}
				img{
					width: 200px;
					height: 200px;
					object-fit: contain;
					object-position: center;
					@include media(small) {
    					height: 150px;
  					}
				}
				.product-title{
					position: relative;
					width: 100%;
					white-space: nowrap;
    				overflow: hidden;
    				text-overflow: ellipsis;
					font-size: 1.1em;
					margin-bottom: 0;
					border-bottom: 1px solid;
					padding-bottom: 4px;
					padding-left: 10px;
					@include media(xlarge) {
    					font-size: 1em;
  					}
					@include media(xlarge) {
    					font-size: .8em;
  					}
					&::before{
						content: '';
						position: absolute;
						top: 5px;
						left: 0;
						width: 5px;
						height: 15px;
						background-color: #c44545;
						@include media(small) {
    						top: 3px;
							width: 3px;
  						}
					}
				}
				.product-price{
					margin-top: 0.6em;
					margin-bottom: 0;
					@include media(xlarge) {
    					font-size: 1em;
  					}
					@include media(xlarge) {
    					font-size: .8em;
  					}
				}
				
			}
			
		}
		
		//スライダーブロック
		.slider-container-list-page{//slider all wrap
			width: 100%;
			position: relative;
			padding: 5%;
			.slider-title-list-page{//slider title
				width: 100%;
				padding-bottom: 5px;
				@include media(large) {
    				font-size: 1em;
  				}
			}
			.narukami-product-slider{//スライダ-wrap
				.slide-items{
					width: 767px;
					height: 600px;
					overflow: hidden;
					position: relative;
					img{
						width: 100%;
						height: 80%;
						object-fit: cover;
						object-position: center;
					}
					.product-title{
						position: relative;
						width: 100%;
						padding-bottom: 4px;
						white-space: nowrap;
    					overflow: hidden;
    					text-overflow: ellipsis;
						padding-left: 10px;
						@include media(large) {
    						font-size: 1em;
  						}
						&::before{
							content: '';
							position: absolute;
							top: 3px;
							left: 0;
							width: 5px;
							height: 30px;
							background-color: #c44545;
						}
						
					}
					.product-price{
						width: 100%;
						@include media(large) {
    						font-size: 1em;
  						}
						
					}
					
				}
			}
		}
		//商品紹介ブロック
		.flex-container{//商品紹介解説wrap
			width: 100%;
			position: relative;
			display: flex;
			margin: 8% auto;
			@include media(large) {
    			flex-direction: column;
  			}
			.product-slider-block{//left all wrap
				width: 100%;
				padding: 20px;
				@include media(large) {
    				padding: 0;
					margin-bottom: 20px;
  				}
				.slider-container,
				.slick-slide{
					position: relative;
					width: 500px;
					height: 350px;
					display: block;
					margin: 0 auto 10% auto;
					@include media(large) {
    					width: 500px;
  					}
					@include media(medium) {
    					width: 400px;
						height: 300px;
  					}
					@include media(small) {
    					width: 280px;
						height: 250px;
  					}
					.slide-wrapper{//img wrap
						width: 500px;
						height: 350px;
						@include media(large) {
    						width: 500px;
  						}
						@include media(medium) {
    						width: 400px;
							height: 300px;
  						}
						@include media(small) {
    						width: 280px;
							height: 250px;
  						}
						img{
							width: 100%;
							height: 100%;
							object-fit: contain;
						}
					}
					.slick-dots{
						
					}
					.slick-prev{
						left: -25px;
						&::before{
							color: #000;
						}
					}
					.slick-next{
						right: -25px;
						&::before{
							color: #000;
						}
					}
					.slick-dots{
						bottom: -60px;
					}
				}
			
			}
			.content-container{
				position: relative;
				width: 100%;
				padding: 20px;
				.product-description{
					margin: 10px auto 20px;
					padding: 10px;
				}
				.product-price{
					margin: 10px auto;
					padding: 10px 0 5px 5px;
					border-bottom: 1px solid;
					font-size: 1.2em;
					font-weight: bold;
					@include media(large) {
    					font-size: 1em;
  					}
				}
				.sub-prices{
					margin: 10px auto;
					padding: 10px 10px 20px;
					list-style-type: none;
					line-height: 30px;
					font-size: .8em;
					border-bottom: 1px solid;
				}
			}
			
		}
		
		//原材料表記スタイル
		.ingredients-description-block{
			width: 100%;
			padding: 20px;
			position: relative;
			margin: 10% auto;
			h2{
				@include media(medium) {
    				font-size: 1.2em;
  				}
			}
			.ingredients-list{//原材料見出しwrap
				.ingredient-headers{//.../.../
					display: inline-block;
					border-bottom: 1px solid;
					height: 43px;
					margin-bottom: 12px;
					@include media(medium) {
    					font-size: 1em;
  					}
				}
				.ingredient-item{//border付与
					border-bottom: 1px solid;
					height: 30px;
					@include media(medium) {
    					font-size: .8em;
  					}
				}
			}
		}
		//アレルギー表記スタイル
		.allergy-info-block{
			width: 100%;
			padding: 20px;
			position: relative;
			margin: 10% auto;
			h2{
				@include media(medium) {
    				font-size: 1.2em;
  				}
			}
			p{
				border-bottom: 1px solid;
				@include media(medium) {
    					font-size: .8em;
  				}
				.allergy-item{
					position: relative;
					margin: 0 13px;
					&::before{
						content: '';
						width: 5px;
						height: 15px;
						background-color: #9d3b3b;
						position: absolute;
						left: -10px;
						top: 4px;
						@include media(medium) {
    						top: 3px;
							height: 11px;
  						}
					}
				}
			}
		}
	}//content end
	
}
//lpページ専用スタイル
.product-lp-page-content{
	.content{
		.narukami-hedding-style1{//見出し１
			position: relative;
			width: 90%;
			display: block;
			text-align: center;
			margin:  5% auto 5px;
			&::before{
				content: '';
				position: absolute;
    			bottom: -10px;
    			display: inline-block;
    			width: 30px;
    			height: 2px;
    			left: 50%;
    			-webkit-transform: translateX(-50%);
    			transform: translateX(-50%);
    			background-color: #4e4d4d;
    			border-radius: 10px;
			}
		}
		.narukami-subtitle{
			width: 90%;
			margin: 0 auto 5%;
			padding-top: 15px;
			text-align: center;
			box-shadow: 0px 4px 2px -3px #b6b4b4;
			padding-bottom: 10px;
		}
		.narukami-hedding-style2{//見出し２
			position: relative;
			width: 100%;
			display: block;
			margin:  0 auto 5px auto;
			text-align: left;
			padding-left: 25px;
			box-sizing: border-box;
			&::before{
				content: '';
				position: absolute;
    			bottom: -10px;
    			display: inline-block;
    			width: 100%;
    			height: 2px;
    			left: 50%;
    			-webkit-transform: translateX(-50%);
    			transform: translateX(-50%);
    			background-color: #b6b4b4;
    			border-radius: 10px;
			}
			&::after{
				content: '';
				position: absolute;
    			display: inline-block;
    			width: 10px;
    			height: 37px;
    			left: 0;
				top: 0;
    			background-color: #d16407;	
			}
		}
		.narukami-subtitle2{
			width: 100%;
			margin: 0 auto 20px;
			text-align: left;
			padding: 8px 0 10px 14px;
			box-sizing: border-box;
		}
		.narukami-hedding-style3{//見出し3
			position: relative;
			width: 100%;
			display: block;
			margin:  0 auto 5px auto;
			text-align: left;
			padding-left: 45px;
			box-sizing: border-box;
			&::before{
				content: '';
				position: absolute;
    			bottom: -10px;
    			display: inline-block;
    			width: 100%;
    			height: 2px;
    			left: 50%;
    			-webkit-transform: translateX(-50%);
    			transform: translateX(-50%);
    			background-color: #b6b4b4;
    			border-radius: 10px;
			}
			&::after{
				content: '';
				position: absolute;
    			display: inline-block;
    			width: 30px;
    			height: 30px;
    			left: 0;
				top: 5px;
    			background-color: #0086ad;	
				border-radius: 50%;
			}
		}
		.narukami-subtitle3{
			width: 100%;
			margin: 0 auto 20px;
			text-align: right;
			padding: 8px 14px 10px 0;
		}
		//ヒーローヘッダースタイル
		.hero-header-block{
			width: 100vw;
			height: 100vh;
			position: relative;
			.hero-header-image{
				width: 100%;
				height: 100%;
				img{
					width: 100%;
					height: 100%;
					object-fit: cover;
					object-position: center;
				}
			}
			.hero-header-title{
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);
				width: 100% !important;
				text-align: center;
				h2{
					@include media(xlarge) {
						width: 100%;
    					font-size: 1.5em !important;
  					}
					@include media(large) {
    					font-size: 1.2em !important;
  					}
					@include media(medium) {
    					font-size: 1em !important;
  					}
				}
			}
		}
		//3カラム画像見出しブロック
		.three-column-img-block{//全体wrap
			width: 100%;
			padding: 20px;
			margin: 5% auto;
			position: relative;
			.three-column-container{
				width: 90%;
				display: flex;
				position: relative;
				margin: 0 auto;
				@include media(large) {
    				flex-direction: column;
  				}
				.column{
					width: 100%;
					position: relative;
					padding: 15px;
					img{
						width: 450px;
						height: 250px;
						object-fit: cover;
						@include media(large) {
    						width: 100%;
  						}
					}
					h2{
						border-bottom: 1px solid;
						padding-left: 15px;
						padding-bottom: 10px;
						font-size: 1.2em;
						position: relative;
						@include media(medium) {
    						font-size: 1em;
  						}
						&::before{
							content: '';
							width: 5px;
							height: 21px;
							background-color: firebrick;
							position: absolute;
							top: 5px;
							left: 0;
							@include media(medium) {
    							top: 3px;
								height: 19px;
  							}
						}
					}
					p{
						@include media(medium) {
    						font-size: .8em;
  						}
					}
				}
			}
		}
		//背景画像付きコンテンツ
		.bg-title-content-block{
			width: 100%;
			height: 100vh;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			@include media(large) {
    			flex-direction: column !important;
  			}
			.bg-title-heding-left{
				width: 50%;
				text-align: center;
				@include media(large) {
    				width: 100%;
					margin-top: 10%;
  				}
				h2{
					font-size: 2em;
					font-weight: bold;
					margin-bottom: 10px;
					@include media(large) {
    					font-size: 1.3em;
  					}
				}
				p{
					font-size: 1.2em;
					@include media(large) {
    					font-size: 1em;
  					}
				}
			}
			.bg-title-heding-right{
				position: relative;
				width: 50%;
				@include media(large) {
    				font-size: .8em;
					width: 80%;
  				}
				p{
					text-align: left !important;
				}
			}
		}
		//２カラムコンテンツブロック
		.two-columns-allwrap{//flex wrap
			width: 100%;
			margin: 0 auto;
			padding: 5%;
			@include media(medium) {
    			flex-direction: column !important;
  			}
			div{
				@include media(medium) {
    				flex-direction: column !important;
					width: 100% !important;
					padding-left: 0 !important;
  				}	
			}
			h2{
				margin-top: 0;
				border-bottom: 1px solid;
				margin-bottom: 8px;
				font-size: 1.2em;
				@include media(xlarge) {
    				font-size: 1.1em;
  				}
				@include media(medium) {
    				font-size: 1em;
					margin-top: 20px;
					padding: 0 !important;
  				}
			}
			p{
				@include media(medium) {
    				font-size: .8em;
  				}
			}
		}
		//ロゴコンテンツブロック
		.rogo-content-wrap{
			img{
				@include media(large) {
    				max-width: 100px !important;
  				}
			}
			.rogo-content-text{
				width: 80%;
				padding: 5%;
				width: 60%;
				@include media(large) {
    				font-size: .8em !important;
					width: 80%;
  				}
			}
		}
		//可変式画像とコンテンツ
		.img-content-variable-wrap{
			padding: 5%;
			@include media(medium) {
    			flex-direction: column !important;
				margin: 20px auto;
  			}
			img{
				height: 300px;
    			object-fit: cover;
    			object-position: center;
				
			}
			div{
				@include media(medium) {
    				padding: 0 !important;
  				}
				h2{
					padding: 0 20px;
					@include media(medium) {
    					font-size: .8em !important;
						padding: 0 !important;
  					}
				}
				p{
					padding: 20px;
					@include media(medium) {
    					font-size: .7em !important;
						padding: 0 !important;
  					}
				}
			}
		}
		//大きな画像とコンテンツブロック
		.big-img-all-contaoner{
			position: relative;
			text-align: center;
			.content-container{
				width: 80%;
				margin: 0 auto;
				@include media(large) {
    				font-size: 1em;
  				}
				@include media(medium) {
    				font-size: .8em;
  				}
				.content-text{
					padding: 20px;
				}
			}
			.image-container{
				width: 80%;
				position: relative;
				margin: 0 auto;
				@include media(medium) {
    				width: 100% !important;
  				}
				img{
					width: 100%;
					height: 500px;
					object-fit: cover;
					object-position: center;
				}
			}
		}
	}//content end
}//product-lp-page-content end