h1 {
  display: none; }

html, body {
  margin: 0 !important;
  padding: 0;
  height: 100%; }

.product-item-page-content,
.product-list-page-content {
  position: relative;
  max-width: 90%;
  margin: 12% auto 1%;
  background-color: #FFFFFF;
  padding: 10px;
  min-height: 1650px; }
  .product-item-page-content .content,
  .product-list-page-content .content {
    padding: 5%; }
    @media (max-width: 576px) {
      .product-item-page-content .content,
      .product-list-page-content .content {
        margin-top: 15px; } }
    .product-item-page-content .content .narukami-hedding-style1,
    .product-list-page-content .content .narukami-hedding-style1 {
      position: relative;
      width: 100%;
      display: block;
      text-align: center;
      margin: 20px auto 5px auto; }
      @media (max-width: 992px) {
        .product-item-page-content .content .narukami-hedding-style1,
        .product-list-page-content .content .narukami-hedding-style1 {
          font-size: 1em; } }
      .product-item-page-content .content .narukami-hedding-style1::before,
      .product-list-page-content .content .narukami-hedding-style1::before {
        content: '';
        position: absolute;
        bottom: -10px;
        display: inline-block;
        width: 30px;
        height: 2px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        background-color: #4e4d4d;
        border-radius: 10px; }
    .product-item-page-content .content .narukami-subtitle,
    .product-list-page-content .content .narukami-subtitle {
      width: 100%;
      margin: 0 auto 20px;
      padding-top: 15px;
      text-align: center;
      box-shadow: 0px 4px 2px -3px #b6b4b4;
      padding-bottom: 10px; }
      @media (max-width: 992px) {
        .product-item-page-content .content .narukami-subtitle,
        .product-list-page-content .content .narukami-subtitle {
          font-size: .8em; } }
    .product-item-page-content .content .narukami-hedding-style2,
    .product-list-page-content .content .narukami-hedding-style2 {
      position: relative;
      width: 100%;
      display: block;
      margin: 20px auto 5px auto;
      text-align: left;
      padding-left: 25px;
      box-sizing: border-box; }
      @media (max-width: 992px) {
        .product-item-page-content .content .narukami-hedding-style2,
        .product-list-page-content .content .narukami-hedding-style2 {
          font-size: 1em;
          padding-left: 15px; } }
      .product-item-page-content .content .narukami-hedding-style2::before,
      .product-list-page-content .content .narukami-hedding-style2::before {
        content: '';
        position: absolute;
        bottom: -10px;
        display: inline-block;
        width: 100%;
        height: 2px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        background-color: #b6b4b4;
        border-radius: 10px; }
      .product-item-page-content .content .narukami-hedding-style2::after,
      .product-list-page-content .content .narukami-hedding-style2::after {
        content: '';
        position: absolute;
        display: inline-block;
        width: 10px;
        height: 37px;
        left: 0;
        top: 0;
        background-color: #d16407; }
        @media (max-width: 992px) {
          .product-item-page-content .content .narukami-hedding-style2::after,
          .product-list-page-content .content .narukami-hedding-style2::after {
            height: 27px;
            width: 7px; } }
    .product-item-page-content .content .narukami-subtitle2,
    .product-list-page-content .content .narukami-subtitle2 {
      width: 100%;
      margin: 0 auto 20px;
      text-align: left;
      padding: 8px 0 10px 14px;
      box-sizing: border-box; }
      @media (max-width: 992px) {
        .product-item-page-content .content .narukami-subtitle2,
        .product-list-page-content .content .narukami-subtitle2 {
          font-size: .8em; } }
    .product-item-page-content .content .narukami-hedding-style3,
    .product-list-page-content .content .narukami-hedding-style3 {
      position: relative;
      width: 100%;
      display: block;
      margin: 20px auto 5px auto;
      text-align: left;
      padding-left: 45px;
      box-sizing: border-box; }
      @media (max-width: 992px) {
        .product-item-page-content .content .narukami-hedding-style3,
        .product-list-page-content .content .narukami-hedding-style3 {
          font-size: 1em;
          padding-left: 27px; } }
      .product-item-page-content .content .narukami-hedding-style3::before,
      .product-list-page-content .content .narukami-hedding-style3::before {
        content: '';
        position: absolute;
        bottom: -10px;
        display: inline-block;
        width: 100%;
        height: 2px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        background-color: #b6b4b4;
        border-radius: 10px; }
      .product-item-page-content .content .narukami-hedding-style3::after,
      .product-list-page-content .content .narukami-hedding-style3::after {
        content: '';
        position: absolute;
        display: inline-block;
        width: 30px;
        height: 30px;
        left: 0;
        top: 5px;
        background-color: #0086ad;
        border-radius: 50%; }
        @media (max-width: 992px) {
          .product-item-page-content .content .narukami-hedding-style3::after,
          .product-list-page-content .content .narukami-hedding-style3::after {
            width: 20px;
            height: 20px;
            top: 2px; } }
    .product-item-page-content .content .narukami-subtitle3,
    .product-list-page-content .content .narukami-subtitle3 {
      width: 100%;
      margin: 0 auto 20px;
      text-align: right;
      padding: 8px 14px 10px 0; }
      @media (max-width: 992px) {
        .product-item-page-content .content .narukami-subtitle3,
        .product-list-page-content .content .narukami-subtitle3 {
          font-size: .8em; } }
    .product-item-page-content .content .item-list-block,
    .product-list-page-content .content .item-list-block {
      position: relative;
      width: 100%;
      padding: 2%;
      margin-top: 3%;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px; }
      @media (max-width: 1200px) {
        .product-item-page-content .content .item-list-block,
        .product-list-page-content .content .item-list-block {
          grid-template-columns: repeat(3, 1fr); } }
      @media (max-width: 768px) {
        .product-item-page-content .content .item-list-block,
        .product-list-page-content .content .item-list-block {
          grid-template-columns: repeat(2, 1fr); } }
      @media (max-width: 576px) {
        .product-item-page-content .content .item-list-block,
        .product-list-page-content .content .item-list-block {
          gap: 20px; } }
      .product-item-page-content .content .item-list-block .item-list,
      .product-list-page-content .content .item-list-block .item-list {
        color: inherit;
        max-width: 230px;
        position: relative;
        padding: 5%;
        transition: all 0.1s ease-in-out;
        border-radius: 5px; }
        @media (max-width: 576px) {
          .product-item-page-content .content .item-list-block .item-list,
          .product-list-page-content .content .item-list-block .item-list {
            padding: 8%; } }
        .product-item-page-content .content .item-list-block .item-list:hover,
        .product-list-page-content .content .item-list-block .item-list:hover {
          box-shadow: .1px .1px 3px; }
        .product-item-page-content .content .item-list-block .item-list img,
        .product-list-page-content .content .item-list-block .item-list img {
          width: 200px;
          height: 200px;
          object-fit: contain;
          object-position: center; }
          @media (max-width: 576px) {
            .product-item-page-content .content .item-list-block .item-list img,
            .product-list-page-content .content .item-list-block .item-list img {
              width: 100px;
              height: 100px; } }
        .product-item-page-content .content .item-list-block .item-list .product-title,
        .product-list-page-content .content .item-list-block .item-list .product-title {
          position: relative;
          width: 100%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          font-size: 1.1em;
          margin-bottom: 0;
          border-bottom: 1px solid;
          padding-bottom: 4px;
          padding-left: 10px; }
          @media (max-width: 1200px) {
            .product-item-page-content .content .item-list-block .item-list .product-title,
            .product-list-page-content .content .item-list-block .item-list .product-title {
              font-size: 1em; } }
          @media (max-width: 992px) {
            .product-item-page-content .content .item-list-block .item-list .product-title,
            .product-list-page-content .content .item-list-block .item-list .product-title {
              font-size: .8em; } }
          @media (max-width: 576px) {
            .product-item-page-content .content .item-list-block .item-list .product-title,
            .product-list-page-content .content .item-list-block .item-list .product-title {
              font-size: .6em; } }
          .product-item-page-content .content .item-list-block .item-list .product-title::before,
          .product-list-page-content .content .item-list-block .item-list .product-title::before {
            content: '';
            position: absolute;
            top: 5px;
            left: 0;
            width: 5px;
            height: 15px;
            background-color: #c44545; }
            @media (max-width: 576px) {
              .product-item-page-content .content .item-list-block .item-list .product-title::before,
              .product-list-page-content .content .item-list-block .item-list .product-title::before {
                top: 0;
                width: 3px; } }
        .product-item-page-content .content .item-list-block .item-list .product-price,
        .product-list-page-content .content .item-list-block .item-list .product-price {
          margin-top: 0.6em;
          margin-bottom: 0; }
          @media (max-width: 1200px) {
            .product-item-page-content .content .item-list-block .item-list .product-price,
            .product-list-page-content .content .item-list-block .item-list .product-price {
              font-size: 1em; } }
          @media (max-width: 992px) {
            .product-item-page-content .content .item-list-block .item-list .product-price,
            .product-list-page-content .content .item-list-block .item-list .product-price {
              font-size: .8em; } }
          @media (max-width: 576px) {
            .product-item-page-content .content .item-list-block .item-list .product-price,
            .product-list-page-content .content .item-list-block .item-list .product-price {
              font-size: .6em; } }
    .product-item-page-content .content .slider-container-list-page,
    .product-list-page-content .content .slider-container-list-page {
      width: 80%;
      position: relative;
      padding: 5%;
      margin: 0 auto; }
      @media (max-width: 768px) {
        .product-item-page-content .content .slider-container-list-page,
        .product-list-page-content .content .slider-container-list-page {
          width: 100%;
          margin: inherit; } }
      .product-item-page-content .content .slider-container-list-page .slider-title-list-page,
      .product-list-page-content .content .slider-container-list-page .slider-title-list-page {
        width: 100%;
        padding-bottom: 5px; }
        @media (max-width: 992px) {
          .product-item-page-content .content .slider-container-list-page .slider-title-list-page,
          .product-list-page-content .content .slider-container-list-page .slider-title-list-page {
            font-size: 1em; } }
      .product-item-page-content .content .slider-container-list-page .narukami-product-slider .slick-prev::before,
      .product-list-page-content .content .slider-container-list-page .narukami-product-slider .slick-prev::before {
        color: #000; }
      .product-item-page-content .content .slider-container-list-page .narukami-product-slider .slick-next::before,
      .product-list-page-content .content .slider-container-list-page .narukami-product-slider .slick-next::before {
        color: #000; }
      .product-item-page-content .content .slider-container-list-page .narukami-product-slider .slide-items,
      .product-list-page-content .content .slider-container-list-page .narukami-product-slider .slide-items {
        width: 767px;
        height: 600px;
        overflow: hidden;
        position: relative; }
        @media (max-width: 768px) {
          .product-item-page-content .content .slider-container-list-page .narukami-product-slider .slide-items,
          .product-list-page-content .content .slider-container-list-page .narukami-product-slider .slide-items {
            height: auto; } }
        .product-item-page-content .content .slider-container-list-page .narukami-product-slider .slide-items img,
        .product-list-page-content .content .slider-container-list-page .narukami-product-slider .slide-items img {
          width: 100%;
          height: 80%;
          object-fit: cover;
          object-position: center;
          padding: 5px; }
        .product-item-page-content .content .slider-container-list-page .narukami-product-slider .slide-items .product-title,
        .product-list-page-content .content .slider-container-list-page .narukami-product-slider .slide-items .product-title {
          position: relative;
          width: 100%;
          padding-bottom: 4px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          padding-left: 10px;
          margin-bottom: 3px; }
          @media (max-width: 992px) {
            .product-item-page-content .content .slider-container-list-page .narukami-product-slider .slide-items .product-title,
            .product-list-page-content .content .slider-container-list-page .narukami-product-slider .slide-items .product-title {
              font-size: 1em; } }
          .product-item-page-content .content .slider-container-list-page .narukami-product-slider .slide-items .product-title::before,
          .product-list-page-content .content .slider-container-list-page .narukami-product-slider .slide-items .product-title::before {
            content: '';
            position: absolute;
            top: 3px;
            left: 0;
            width: 5px;
            height: 30px;
            background-color: #c44545; }
            @media (max-width: 576px) {
              .product-item-page-content .content .slider-container-list-page .narukami-product-slider .slide-items .product-title::before,
              .product-list-page-content .content .slider-container-list-page .narukami-product-slider .slide-items .product-title::before {
                left: 2px;
                height: 18px; } }
        .product-item-page-content .content .slider-container-list-page .narukami-product-slider .slide-items .product-price,
        .product-list-page-content .content .slider-container-list-page .narukami-product-slider .slide-items .product-price {
          width: 100%;
          margin-top: 0; }
          @media (max-width: 992px) {
            .product-item-page-content .content .slider-container-list-page .narukami-product-slider .slide-items .product-price,
            .product-list-page-content .content .slider-container-list-page .narukami-product-slider .slide-items .product-price {
              font-size: 1em; } }
          @media (max-width: 576px) {
            .product-item-page-content .content .slider-container-list-page .narukami-product-slider .slide-items .product-price,
            .product-list-page-content .content .slider-container-list-page .narukami-product-slider .slide-items .product-price {
              margin-top: 0;
              padding-left: 5px; } }
    .product-item-page-content .content .flex-container,
    .product-list-page-content .content .flex-container {
      width: 100%;
      position: relative;
      display: flex;
      margin: 8% auto; }
      @media (max-width: 992px) {
        .product-item-page-content .content .flex-container,
        .product-list-page-content .content .flex-container {
          flex-direction: column; } }
      .product-item-page-content .content .flex-container .product-slider-block,
      .product-list-page-content .content .flex-container .product-slider-block {
        width: 100%;
        padding: 20px; }
        @media (max-width: 992px) {
          .product-item-page-content .content .flex-container .product-slider-block,
          .product-list-page-content .content .flex-container .product-slider-block {
            padding: 0;
            margin-bottom: 20px; } }
        .product-item-page-content .content .flex-container .product-slider-block .slider-container,
        .product-item-page-content .content .flex-container .product-slider-block .slick-slide,
        .product-list-page-content .content .flex-container .product-slider-block .slider-container,
        .product-list-page-content .content .flex-container .product-slider-block .slick-slide {
          position: relative;
          width: 500px;
          height: 350px;
          display: block;
          margin: 0 auto 10% auto; }
          @media (max-width: 992px) {
            .product-item-page-content .content .flex-container .product-slider-block .slider-container,
            .product-item-page-content .content .flex-container .product-slider-block .slick-slide,
            .product-list-page-content .content .flex-container .product-slider-block .slider-container,
            .product-list-page-content .content .flex-container .product-slider-block .slick-slide {
              width: 500px; } }
          @media (max-width: 768px) {
            .product-item-page-content .content .flex-container .product-slider-block .slider-container,
            .product-item-page-content .content .flex-container .product-slider-block .slick-slide,
            .product-list-page-content .content .flex-container .product-slider-block .slider-container,
            .product-list-page-content .content .flex-container .product-slider-block .slick-slide {
              width: 400px;
              height: 300px; } }
          @media (max-width: 576px) {
            .product-item-page-content .content .flex-container .product-slider-block .slider-container,
            .product-item-page-content .content .flex-container .product-slider-block .slick-slide,
            .product-list-page-content .content .flex-container .product-slider-block .slider-container,
            .product-list-page-content .content .flex-container .product-slider-block .slick-slide {
              width: 280px;
              height: 250px; } }
          .product-item-page-content .content .flex-container .product-slider-block .slider-container .slide-wrapper,
          .product-item-page-content .content .flex-container .product-slider-block .slick-slide .slide-wrapper,
          .product-list-page-content .content .flex-container .product-slider-block .slider-container .slide-wrapper,
          .product-list-page-content .content .flex-container .product-slider-block .slick-slide .slide-wrapper {
            width: 500px;
            height: 350px; }
            @media (max-width: 992px) {
              .product-item-page-content .content .flex-container .product-slider-block .slider-container .slide-wrapper,
              .product-item-page-content .content .flex-container .product-slider-block .slick-slide .slide-wrapper,
              .product-list-page-content .content .flex-container .product-slider-block .slider-container .slide-wrapper,
              .product-list-page-content .content .flex-container .product-slider-block .slick-slide .slide-wrapper {
                width: 500px; } }
            @media (max-width: 768px) {
              .product-item-page-content .content .flex-container .product-slider-block .slider-container .slide-wrapper,
              .product-item-page-content .content .flex-container .product-slider-block .slick-slide .slide-wrapper,
              .product-list-page-content .content .flex-container .product-slider-block .slider-container .slide-wrapper,
              .product-list-page-content .content .flex-container .product-slider-block .slick-slide .slide-wrapper {
                width: 400px;
                height: 300px; } }
            @media (max-width: 576px) {
              .product-item-page-content .content .flex-container .product-slider-block .slider-container .slide-wrapper,
              .product-item-page-content .content .flex-container .product-slider-block .slick-slide .slide-wrapper,
              .product-list-page-content .content .flex-container .product-slider-block .slider-container .slide-wrapper,
              .product-list-page-content .content .flex-container .product-slider-block .slick-slide .slide-wrapper {
                width: 280px;
                height: 250px; } }
            .product-item-page-content .content .flex-container .product-slider-block .slider-container .slide-wrapper img,
            .product-item-page-content .content .flex-container .product-slider-block .slick-slide .slide-wrapper img,
            .product-list-page-content .content .flex-container .product-slider-block .slider-container .slide-wrapper img,
            .product-list-page-content .content .flex-container .product-slider-block .slick-slide .slide-wrapper img {
              width: 100%;
              height: 100%;
              object-fit: contain; }
          .product-item-page-content .content .flex-container .product-slider-block .slider-container .slick-prev,
          .product-item-page-content .content .flex-container .product-slider-block .slick-slide .slick-prev,
          .product-list-page-content .content .flex-container .product-slider-block .slider-container .slick-prev,
          .product-list-page-content .content .flex-container .product-slider-block .slick-slide .slick-prev {
            left: -25px; }
            .product-item-page-content .content .flex-container .product-slider-block .slider-container .slick-prev::before,
            .product-item-page-content .content .flex-container .product-slider-block .slick-slide .slick-prev::before,
            .product-list-page-content .content .flex-container .product-slider-block .slider-container .slick-prev::before,
            .product-list-page-content .content .flex-container .product-slider-block .slick-slide .slick-prev::before {
              color: #000; }
          .product-item-page-content .content .flex-container .product-slider-block .slider-container .slick-next,
          .product-item-page-content .content .flex-container .product-slider-block .slick-slide .slick-next,
          .product-list-page-content .content .flex-container .product-slider-block .slider-container .slick-next,
          .product-list-page-content .content .flex-container .product-slider-block .slick-slide .slick-next {
            right: -25px; }
            .product-item-page-content .content .flex-container .product-slider-block .slider-container .slick-next::before,
            .product-item-page-content .content .flex-container .product-slider-block .slick-slide .slick-next::before,
            .product-list-page-content .content .flex-container .product-slider-block .slider-container .slick-next::before,
            .product-list-page-content .content .flex-container .product-slider-block .slick-slide .slick-next::before {
              color: #000; }
          .product-item-page-content .content .flex-container .product-slider-block .slider-container .slick-dots,
          .product-item-page-content .content .flex-container .product-slider-block .slick-slide .slick-dots,
          .product-list-page-content .content .flex-container .product-slider-block .slider-container .slick-dots,
          .product-list-page-content .content .flex-container .product-slider-block .slick-slide .slick-dots {
            bottom: -60px; }
      .product-item-page-content .content .flex-container .content-container,
      .product-list-page-content .content .flex-container .content-container {
        position: relative;
        width: 100%;
        padding: 20px; }
        .product-item-page-content .content .flex-container .content-container .product-description,
        .product-list-page-content .content .flex-container .content-container .product-description {
          margin: 10px auto 20px;
          padding: 10px; }
        .product-item-page-content .content .flex-container .content-container .product-price,
        .product-list-page-content .content .flex-container .content-container .product-price {
          margin: 10px auto;
          padding: 10px 0 5px 5px;
          border-bottom: 1px solid;
          font-size: 1.2em;
          font-weight: bold; }
          @media (max-width: 992px) {
            .product-item-page-content .content .flex-container .content-container .product-price,
            .product-list-page-content .content .flex-container .content-container .product-price {
              font-size: 1em; } }
        .product-item-page-content .content .flex-container .content-container .sub-prices,
        .product-list-page-content .content .flex-container .content-container .sub-prices {
          margin: 10px auto;
          padding: 10px 10px 20px;
          list-style-type: none;
          line-height: 30px;
          font-size: .8em;
          border-bottom: 1px solid; }
    .product-item-page-content .content .ingredients-description-block,
    .product-list-page-content .content .ingredients-description-block {
      width: 100%;
      padding: 20px;
      position: relative;
      margin: 10% auto; }
      @media (max-width: 768px) {
        .product-item-page-content .content .ingredients-description-block h2,
        .product-list-page-content .content .ingredients-description-block h2 {
          font-size: 1.2em; } }
      .product-item-page-content .content .ingredients-description-block .ingredients-list .ingredient-headers,
      .product-list-page-content .content .ingredients-description-block .ingredients-list .ingredient-headers {
        display: inline-block;
        border-bottom: 1px solid;
        height: 43px;
        margin-bottom: 12px; }
        @media (max-width: 768px) {
          .product-item-page-content .content .ingredients-description-block .ingredients-list .ingredient-headers,
          .product-list-page-content .content .ingredients-description-block .ingredients-list .ingredient-headers {
            font-size: 1em; } }
      .product-item-page-content .content .ingredients-description-block .ingredients-list .ingredient-item,
      .product-list-page-content .content .ingredients-description-block .ingredients-list .ingredient-item {
        border-bottom: 1px solid; }
        @media (max-width: 768px) {
          .product-item-page-content .content .ingredients-description-block .ingredients-list .ingredient-item,
          .product-list-page-content .content .ingredients-description-block .ingredients-list .ingredient-item {
            font-size: .8em; } }
        .product-item-page-content .content .ingredients-description-block .ingredients-list .ingredient-item p,
        .product-list-page-content .content .ingredients-description-block .ingredients-list .ingredient-item p {
          margin-bottom: 8px; }
    .product-item-page-content .content .allergy-info-block,
    .product-list-page-content .content .allergy-info-block {
      width: 100%;
      padding: 20px;
      position: relative;
      margin: 10% auto; }
      @media (max-width: 768px) {
        .product-item-page-content .content .allergy-info-block h2,
        .product-list-page-content .content .allergy-info-block h2 {
          font-size: 1.2em; } }
      .product-item-page-content .content .allergy-info-block p,
      .product-list-page-content .content .allergy-info-block p {
        border-bottom: 1px solid;
        padding-bottom: 8px; }
        @media (max-width: 768px) {
          .product-item-page-content .content .allergy-info-block p,
          .product-list-page-content .content .allergy-info-block p {
            font-size: .8em; } }
        .product-item-page-content .content .allergy-info-block p .allergy-item,
        .product-list-page-content .content .allergy-info-block p .allergy-item {
          position: relative;
          margin: 0 13px; }
          .product-item-page-content .content .allergy-info-block p .allergy-item::before,
          .product-list-page-content .content .allergy-info-block p .allergy-item::before {
            content: '';
            width: 5px;
            height: 15px;
            background-color: #9d3b3b;
            position: absolute;
            left: -10px;
            top: 4px; }
            @media (max-width: 768px) {
              .product-item-page-content .content .allergy-info-block p .allergy-item::before,
              .product-list-page-content .content .allergy-info-block p .allergy-item::before {
                top: 3px;
                height: 11px; } }

.product-lp-page-content .content .narukami-hedding-style1 {
  position: relative;
  width: 90%;
  display: block;
  text-align: center;
  margin: 5% auto 5px; }
  .product-lp-page-content .content .narukami-hedding-style1::before {
    content: '';
    position: absolute;
    bottom: -10px;
    display: inline-block;
    width: 30px;
    height: 2px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #4e4d4d;
    border-radius: 10px; }
.product-lp-page-content .content .narukami-subtitle {
  width: 90%;
  margin: 0 auto 5%;
  padding-top: 15px;
  text-align: center;
  box-shadow: 0px 4px 2px -3px #b6b4b4;
  padding-bottom: 10px; }
.product-lp-page-content .content .narukami-hedding-style2 {
  position: relative;
  width: 100%;
  display: block;
  margin: 0 auto 5px auto;
  text-align: left;
  padding-left: 25px;
  box-sizing: border-box; }
  .product-lp-page-content .content .narukami-hedding-style2::before {
    content: '';
    position: absolute;
    bottom: -10px;
    display: inline-block;
    width: 100%;
    height: 2px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #b6b4b4;
    border-radius: 10px; }
  .product-lp-page-content .content .narukami-hedding-style2::after {
    content: '';
    position: absolute;
    display: inline-block;
    width: 10px;
    height: 37px;
    left: 0;
    top: 0;
    background-color: #d16407; }
.product-lp-page-content .content .narukami-subtitle2 {
  width: 100%;
  margin: 0 auto 20px;
  text-align: left;
  padding: 8px 0 10px 14px;
  box-sizing: border-box; }
.product-lp-page-content .content .narukami-hedding-style3 {
  position: relative;
  width: 100%;
  display: block;
  margin: 0 auto 5px auto;
  text-align: left;
  padding-left: 45px;
  box-sizing: border-box; }
  .product-lp-page-content .content .narukami-hedding-style3::before {
    content: '';
    position: absolute;
    bottom: -10px;
    display: inline-block;
    width: 100%;
    height: 2px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #b6b4b4;
    border-radius: 10px; }
  .product-lp-page-content .content .narukami-hedding-style3::after {
    content: '';
    position: absolute;
    display: inline-block;
    width: 30px;
    height: 30px;
    left: 0;
    top: 5px;
    background-color: #0086ad;
    border-radius: 50%; }
.product-lp-page-content .content .narukami-subtitle3 {
  width: 100%;
  margin: 0 auto 20px;
  text-align: right;
  padding: 8px 14px 10px 0; }
.product-lp-page-content .content .hero-header-block {
  width: 100vw;
  height: 100vh;
  position: relative; }
  .product-lp-page-content .content .hero-header-block .hero-header-image {
    width: 100%;
    height: 100%; }
    .product-lp-page-content .content .hero-header-block .hero-header-image img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center; }
  .product-lp-page-content .content .hero-header-block .hero-header-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100% !important;
    text-align: center; }
    @media (max-width: 1200px) {
      .product-lp-page-content .content .hero-header-block .hero-header-title h2 {
        width: 100%;
        font-size: 1.5em !important; } }
    @media (max-width: 992px) {
      .product-lp-page-content .content .hero-header-block .hero-header-title h2 {
        font-size: 1.2em !important; } }
    @media (max-width: 768px) {
      .product-lp-page-content .content .hero-header-block .hero-header-title h2 {
        font-size: 1em !important; } }
.product-lp-page-content .content .three-column-img-block {
  width: 100%;
  padding: 20px;
  margin: 5% auto;
  position: relative; }
  .product-lp-page-content .content .three-column-img-block .three-column-container {
    width: 90%;
    display: flex;
    position: relative;
    margin: 0 auto; }
    @media (max-width: 992px) {
      .product-lp-page-content .content .three-column-img-block .three-column-container {
        flex-direction: column; } }
    .product-lp-page-content .content .three-column-img-block .three-column-container .column {
      width: 100%;
      position: relative;
      padding: 15px; }
      .product-lp-page-content .content .three-column-img-block .three-column-container .column img {
        width: 450px;
        height: 250px;
        object-fit: cover; }
        @media (max-width: 992px) {
          .product-lp-page-content .content .three-column-img-block .three-column-container .column img {
            width: 100%; } }
      .product-lp-page-content .content .three-column-img-block .three-column-container .column h2 {
        border-bottom: 1px solid;
        padding-left: 15px;
        padding-bottom: 10px;
        font-size: 1.2em;
        position: relative; }
        @media (max-width: 768px) {
          .product-lp-page-content .content .three-column-img-block .three-column-container .column h2 {
            font-size: 1em; } }
        .product-lp-page-content .content .three-column-img-block .three-column-container .column h2::before {
          content: '';
          width: 5px;
          height: 21px;
          background-color: firebrick;
          position: absolute;
          top: 5px;
          left: 0; }
          @media (max-width: 768px) {
            .product-lp-page-content .content .three-column-img-block .three-column-container .column h2::before {
              top: 3px;
              height: 19px; } }
      @media (max-width: 768px) {
        .product-lp-page-content .content .three-column-img-block .three-column-container .column p {
          font-size: .8em; } }
.product-lp-page-content .content .bg-title-content-block {
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  @media (max-width: 992px) {
    .product-lp-page-content .content .bg-title-content-block {
      flex-direction: column !important; } }
  .product-lp-page-content .content .bg-title-content-block .bg-title-heding-left {
    width: 50%;
    text-align: center; }
    @media (max-width: 992px) {
      .product-lp-page-content .content .bg-title-content-block .bg-title-heding-left {
        width: 100%;
        margin-top: 10%; } }
    .product-lp-page-content .content .bg-title-content-block .bg-title-heding-left h2 {
      font-size: 2em;
      font-weight: bold;
      margin-bottom: 10px; }
      @media (max-width: 992px) {
        .product-lp-page-content .content .bg-title-content-block .bg-title-heding-left h2 {
          font-size: 1.3em; } }
    .product-lp-page-content .content .bg-title-content-block .bg-title-heding-left p {
      font-size: 1.2em; }
      @media (max-width: 992px) {
        .product-lp-page-content .content .bg-title-content-block .bg-title-heding-left p {
          font-size: 1em; } }
  .product-lp-page-content .content .bg-title-content-block .bg-title-heding-right {
    position: relative;
    width: 50%; }
    @media (max-width: 992px) {
      .product-lp-page-content .content .bg-title-content-block .bg-title-heding-right {
        font-size: .8em;
        width: 80%; } }
    .product-lp-page-content .content .bg-title-content-block .bg-title-heding-right p {
      text-align: left !important; }
.product-lp-page-content .content .two-columns-allwrap {
  width: 100%;
  margin: 0 auto;
  padding: 5%; }
  @media (max-width: 768px) {
    .product-lp-page-content .content .two-columns-allwrap {
      flex-direction: column !important; } }
  @media (max-width: 768px) {
    .product-lp-page-content .content .two-columns-allwrap div {
      flex-direction: column !important;
      width: 100% !important;
      padding-left: 0 !important; } }
  .product-lp-page-content .content .two-columns-allwrap h2 {
    margin-top: 0;
    border-bottom: 1px solid;
    margin-bottom: 8px;
    font-size: 1.2em; }
    @media (max-width: 1200px) {
      .product-lp-page-content .content .two-columns-allwrap h2 {
        font-size: 1.1em; } }
    @media (max-width: 768px) {
      .product-lp-page-content .content .two-columns-allwrap h2 {
        font-size: 1em;
        margin-top: 20px;
        padding: 0 !important; } }
  @media (max-width: 768px) {
    .product-lp-page-content .content .two-columns-allwrap p {
      font-size: .8em; } }
@media (max-width: 992px) {
  .product-lp-page-content .content .rogo-content-wrap img {
    max-width: 100px !important; } }
.product-lp-page-content .content .rogo-content-wrap .rogo-content-text {
  width: 80%;
  padding: 5%;
  width: 60%; }
  @media (max-width: 992px) {
    .product-lp-page-content .content .rogo-content-wrap .rogo-content-text {
      font-size: .8em !important;
      width: 80%; } }
.product-lp-page-content .content .img-content-variable-wrap {
  padding: 5%; }
  @media (max-width: 768px) {
    .product-lp-page-content .content .img-content-variable-wrap {
      flex-direction: column !important;
      margin: 20px auto; } }
  .product-lp-page-content .content .img-content-variable-wrap img {
    height: 300px;
    object-fit: cover;
    object-position: center; }
  @media (max-width: 768px) {
    .product-lp-page-content .content .img-content-variable-wrap div {
      padding: 0 !important; } }
  .product-lp-page-content .content .img-content-variable-wrap div h2 {
    padding: 0 20px; }
    @media (max-width: 768px) {
      .product-lp-page-content .content .img-content-variable-wrap div h2 {
        font-size: .8em !important;
        padding: 0 !important; } }
  .product-lp-page-content .content .img-content-variable-wrap div p {
    padding: 20px; }
    @media (max-width: 768px) {
      .product-lp-page-content .content .img-content-variable-wrap div p {
        font-size: .7em !important;
        padding: 0 !important; } }
.product-lp-page-content .content .big-img-all-contaoner {
  position: relative;
  text-align: center; }
  .product-lp-page-content .content .big-img-all-contaoner .content-container {
    width: 80%;
    margin: 0 auto; }
    @media (max-width: 992px) {
      .product-lp-page-content .content .big-img-all-contaoner .content-container {
        font-size: 1em; } }
    @media (max-width: 768px) {
      .product-lp-page-content .content .big-img-all-contaoner .content-container {
        font-size: .8em; } }
    .product-lp-page-content .content .big-img-all-contaoner .content-container .content-text {
      padding: 20px; }
  .product-lp-page-content .content .big-img-all-contaoner .image-container {
    width: 80%;
    position: relative;
    margin: 0 auto; }
    @media (max-width: 768px) {
      .product-lp-page-content .content .big-img-all-contaoner .image-container {
        width: 100% !important; } }
    .product-lp-page-content .content .big-img-all-contaoner .image-container img {
      width: 100%;
      height: 500px;
      object-fit: cover;
      object-position: center; }
