h1 {
  display: none; }

.product-list-page-content {
  position: relative;
  max-width: 90%;
  margin: 2% auto;
  background-color: #FFFFFF;
  padding: 10px; }
  .product-list-page-content .content {
    padding: 5%; }
    .product-list-page-content .content .narukami-hedding-style1 {
      position: relative;
      width: 100%;
      display: block;
      text-align: center;
      margin: 0 auto 5px auto; }
      .product-list-page-content .content .narukami-hedding-style1::before {
        content: '';
        position: absolute;
        bottom: -10px;
        display: inline-block;
        width: 30px;
        height: 2px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        background-color: #4e4d4d;
        border-radius: 10px; }
    .product-list-page-content .content .narukami-subtitle {
      width: 100%;
      margin: 0 auto 20px;
      padding-top: 15px;
      text-align: center;
      box-shadow: 0px 4px 2px -3px #b6b4b4;
      padding-bottom: 10px; }
    .product-list-page-content .content .narukami-hedding-style2 {
      position: relative;
      width: 100%;
      display: block;
      margin: 0 auto 5px auto;
      text-align: left;
      padding-left: 25px;
      box-sizing: border-box; }
      .product-list-page-content .content .narukami-hedding-style2::before {
        content: '';
        position: absolute;
        bottom: -10px;
        display: inline-block;
        width: 100%;
        height: 2px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        background-color: #b6b4b4;
        border-radius: 10px; }
      .product-list-page-content .content .narukami-hedding-style2::after {
        content: '';
        position: absolute;
        display: inline-block;
        width: 10px;
        height: 37px;
        left: 0;
        top: 0;
        background-color: #d16407; }
    .product-list-page-content .content .narukami-subtitle2 {
      width: 100%;
      margin: 0 auto 20px;
      text-align: left;
      padding: 8px 0 10px 14px;
      box-sizing: border-box; }
    .product-list-page-content .content .narukami-hedding-style3 {
      position: relative;
      width: 100%;
      display: block;
      margin: 0 auto 5px auto;
      text-align: left;
      padding-left: 45px;
      box-sizing: border-box; }
      .product-list-page-content .content .narukami-hedding-style3::before {
        content: '';
        position: absolute;
        bottom: -10px;
        display: inline-block;
        width: 100%;
        height: 2px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        background-color: #b6b4b4;
        border-radius: 10px; }
      .product-list-page-content .content .narukami-hedding-style3::after {
        content: '';
        position: absolute;
        display: inline-block;
        width: 30px;
        height: 30px;
        left: 0;
        top: 5px;
        background-color: #0086ad;
        border-radius: 50%; }
    .product-list-page-content .content .narukami-subtitle3 {
      width: 100%;
      margin: 0 auto 20px;
      text-align: right;
      padding: 8px 14px 10px 0; }
    .product-list-page-content .content .item-list-block {
      position: relative;
      width: 100%;
      padding: 2%;
      margin-top: 3%;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px; }
      .product-list-page-content .content .item-list-block .item-list {
        color: inherit;
        max-width: 230px;
        position: relative;
        padding: 5%;
        transition: all 0.1s ease-in-out;
        border-radius: 5px; }
        .product-list-page-content .content .item-list-block .item-list:hover {
          box-shadow: .1px .1px 3px; }
        .product-list-page-content .content .item-list-block .item-list img {
          width: 100%;
          object-fit: contain;
          object-position: center; }
        .product-list-page-content .content .item-list-block .item-list .product-title {
          position: relative;
          width: 100%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          font-size: 1.1em;
          margin-bottom: 0;
          border-bottom: 1px solid;
          padding-bottom: 4px;
          padding-left: 10px; }
          .product-list-page-content .content .item-list-block .item-list .product-title::before {
            content: '';
            position: absolute;
            top: 5px;
            left: 0;
            width: 5px;
            height: 15px;
            background-color: #c44545; }
        .product-list-page-content .content .item-list-block .item-list .product-price {
          margin-top: 0.6em;
          margin-bottom: 0; }
    .product-list-page-content .content .slider-container {
      width: 100%;
      position: relative;
      padding: 5%; }
      .product-list-page-content .content .slider-container .narukami-product-slider {
        width: 100%;
        height: 400px;
        position: relative;
        margin: 0 auto;
        background-color: red; }
        .product-list-page-content .content .slider-container .narukami-product-slider .slide-items img {
          object-fit: contain;
          object-position: center; }
