//全体設定


//コンセプト
.n-section-block{
	margin: 7% 0;
	.concept-back-wrap{
	position: relative;
	width: 100vw;
	height: 100vh;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	.concept-text-wrap{
		width: 65%;
		height: 90%;
		background-color: rgba(255,255,255,0.89);
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		border-radius: 5px;
		overflow-y: scroll;
		.concept-main-title{
			position: relative;
			display: block;
			text-align: center;
			font-size: 1.2rem;
			font-weight: bold;
			background-color: rgba(255,255,255,0.4);
			margin: 40px 0;
			padding: 40px 0;
			letter-spacing: 5px;
			span {
       			display: inline-block;
       			transition: 1s;
       			opacity: 0;
       			transform: translateX(50px);
       			
       			&.is-animated {
       			    opacity: 1;
       			    transform: translateX(0);
       			}
   		    }
		}
		.concept-main-title::before{
		content: '';
  		position: absolute;
  		bottom: 30px;
  		display: inline-block;
  		width: 100px;
  		height: 2px;
  		left: 50%;
  		-webkit-transform: translateX(-50%);
  		transform: translateX(-50%);
  		background-color: #000000bf;
  		border-radius: 2px;
		}
		.concept-main-content{
			display: block;
			width: 50%;
			height: 360px;
			box-sizing: border-box;
			overflow: scroll;
			margin: 40px auto;
			padding: 20px;
			line-height: 25px;
			background-color: rgba(255,255,255,0.4);
			letter-spacing: 2px;
		}
	}
  }
}

//グランドメニュー
.n-section-block{
	.gm-primary-title-prevew{
	width: 100%;
	text-align: center;
	margin: 0 auto 5%;
	box-shadow: 0px 4px 2px -3px #b6b4b4;
	.gm-primary-title{
		font-size: 1.2em;
		position: relative;
  		display: inline-block;
  		margin-bottom: 3em;
		font-weight: bold;
		letter-spacing: 5px;
		span {
       		display: inline-block;
       		transition: 1s;
       		opacity: 0;
       		transform: translateX(50px);
       		
       		&.is-animated {
       		    opacity: 1;
       		    transform: translateX(0);
       		}
   		 }
	}
	.gm-primary-title::before{
		content: '';
  		position: absolute;
  		bottom: -15px;
  		display: inline-block;
  		width: 60px;
  		height: 2px;
  		left: 50%;
  		-webkit-transform: translateX(-50%);
  		transform: translateX(-50%);
  		background-color: #000000bf;
  		border-radius: 2px;
	}
}
.grandmenu-wrap{
	max-width: 1100px;
	margin: 0 auto;
	width: 90%;
	.grandmenu-title-wrap{
		display: flex;
		flex-wrap: wrap;
		list-style: none;
		margin: 0;
		padding: 0;
		.gm-item-wrap{
			flex: 1 0 200px;
			width: 230px;
			height: 250px;
			box-sizing: border-box;
			background-position: center;
			background-size: 190%;
			background-repeat: no-repeat;
			transition: all .6s ease-in-out;
			box-shadow: 2px 8px 13px -4px #b6b4b4;
			text-decoration: none; /* 下線を非表示にする */
  			color: inherit;
			position: relative;
			margin: 2% 3%;
			opacity: 0;
            transform: translateY(20px);
			p{
				width: 60%;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);
				padding: 6px;
				text-align: center;
				border: 3px  solid;
				color: #ffffff;
				font-size: 1.1rem;
				font-weight: bold;
				text-shadow: 1px 1px 10px #000;
				background-color: rgba(0,0,0,0.17);
				letter-spacing: 1px;
			}
			
			&.show{
				opacity: 1;
            	transform: translateY(0);
			}
			
		}

		.gm-item-wrap:hover{
			background-size: 168%;
			opacity: .8;
		}
	}
}
}

//.右寄せ１カラム
.n-section-block{
  .column_right_1-all-wrap{
	width: 100%;
	height: auto;
	position: relative;
	display: flex;
	margin: 100px 0;
	padding: 0 5%;
	.column_right_1-back-wrap{
		width: 100%;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
	.column_right_1-text-wrap{
		width: 40%;
		padding: 10px;
		margin: 0 10px;
		.column_right_1-main-title{
			letter-spacing: 5px;
			position: relative;
			width: 100%;
			font-size: 1.2em;
			font-weight: bold;
		}
		.column_right_1-main-title::after{
			content: '';
  			position: absolute;
  			bottom: -15px;
  			display: inline-block;
  			width: 90%;
  			height: 2px;
  			left: 0;
  			-webkit-transform: translateX(-50%);
  			transform: translateX(0%);
  			background-color: #000000bf;
  			border-radius: 2px;
		}
		.column_right_1-main-content{
			padding: 20px 5px;
			letter-spacing: 2px;
		}
	}
}
}

//左１カラム
.n-section-block{
	.column_left_1-all-wrap{
	width: 100%;
	height: auto;
	position: relative;
	display: flex;
	margin: 100px 0;
	padding: 0 5%;
	.column_left_1-back-wrap{
		width: 100%;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
	.column_left_1-text-wrap{
		width: 40%;
		padding: 10px;
		margin: 0 10px;
		.column_left_1-main-title{
			position: relative;
			width: 100%;
			font-size: 1.2em;
			font-weight: bold;
			letter-spacing: 5px;
		}
		.column_left_1-main-title::after{
			content: '';
  			position: absolute;
  			bottom: -15px;
  			display: inline-block;
  			width: 90%;
  			height: 2px;
  			left: 0;
  			-webkit-transform: translateX(-50%);
  			transform: translateX(0%);
  			background-color: #000000bf;
  			border-radius: 2px;
		}
		.column_left_1-main-content{
			padding: 20px 5px;
			letter-spacing: 2px;
		}
	}
}
}

