// Scss Document
$stretch-duration: .5s;
$stretch-easing: ease-in-out;

@mixin stretch-shrink-right-animation {//ロードアニメーション[right-slide]
  @keyframes stretchShrinkRight {
    0% {
      width: 0;
      transform-origin: left;
		 transform: translateX(0);
    }
    40% {
      width: 100%;
      transform-origin: left;
	  transform: translateX(0);
    }
	60% {
      width: 100%;
      transform-origin: left;
	  transform: translateX(0);
    }
    100% {
      width: 100%;
      transform-origin: right;
	  transform: translateX(100%);
    }
  }

  animation: stretchShrinkRight $stretch-duration $stretch-easing;
}

@mixin stretch-shrink-curtain-animation {//ロードアニメーション[top-down-top]
  @keyframes stretchShrinkCurtain {
    0% {
      width: 100%;
	  height: 0;
	  transform: translateY(0);
    }
    40% {
      width: 100%;
	  height: 100%;
	  transform: translateY(0);
    }
	60% {
      width: 100%;
	  height: 100%;
	  transform: translateY(0);
    }
    100% {
      width: 100%;
	  height: 0;
	  transform: translateY(0);
    }
  }

  animation: stretchShrinkCurtain $stretch-duration $stretch-easing;
}
