// Scss Document

/*================================
	adimin-page 共通パーツスタイル
=================================*/


/*-- hタグ、見出しスタイル --*/

.postbox{
	.inside{
		h2,.narukami-admin-h2{
			color: #505050;
			font-size: 1.3em;
			font-weight: bold;
			margin: 2%;
       }
		h2,.narukami-admin-h2::before{
			content: '●';
			color: #0086AD;
  			margin-right: 8px;
		}
	}
}

/*------inputFormスタイル　-------*/

.inputForm{
	width: 100%;
	padding: 2%;
	box-sizing: border-box;
	.rank-prev{
	}
	.rank-prev-num{
		border-bottom: 1px solid;
		margin-bottom: 37px;
	}
	.img-setect-url{
		border: 2px solid;
		padding: 0 21px;
	}
	.img-select{
		border: 2px #007D7A solid;
    	padding: 3px 15px;
    	border-radius: 4px;
    	background-color: #ffffff;
    	color: #007D7A;
	}
	.img-select-clear{
		border: 2px #AD002D solid;
    	padding: 3px 15px;
    	border-radius: 4px;
    	background-color: #ffffff;
    	color: #AD002D;
	}
	h3{
		color: #00081A;
		padding: 5px 0;
	}
	h3::before{
		content: '';
		color: #0086AD;
		margin-right: 8px;
  		border: 5px solid;
	}
	h4{
		color: #00081A;
		padding: 5px 0;
	}
	h4::before{
		content: '';
		color: #0086AD;
		margin-right: 8px;
  		border: 5px solid;
	}
	}
	.uploded-thumbnail{
		box-shadow: 1px 3px 11px -4px #c9c9c9;
		border-radius: 8px;
		width: 30%;
		margin: 0 0 25px 0;
		img{
			text-align: center;
			width: 100%;
			height: 100%;
			box-sizing: border-box;
			padding-top: 25px;
		}
	}
	
	.inputWrap{
		.inputItem{
			display: block;
		}
	}


/*------ inputformスタイルend　-------*/
/*-- hタグ、見出しスタイルend --*/

/*-- BG,背景スタイル --*/

#back_wrap{
	width: 100%;
	height: 100%;
	background-color: #0086AD;
	box-shadow: 4px 4px 16px -5px #777777;
	.metabox-holder{
		padding: 2%;
			.setting_description{
				width: 80%;
				max-width: 700px;
				margin: 5% 0;
				}
	}
	.postbox.bg{
		width: 90%;
		max-width: 1200px;
		padding: 4%;
	}
	.postbox{
		box-shadow: 4px 4px 16px -5px #777777;
	}
	.hndle{
		border-bottom: 1px solid #B2B2B2;
		.title{
			margin-left: 25px;
			font-size: 1.2em;
			font-weight: bold;
		}
		.title::before{
			content: "";
			position: absolute;
			width: 20px;
			height: 20px;
			background-color:#0086AD;
			border-radius: 50%;
			margin-left: -25px;
		}
	}
}


/*-- BG,背景スタイルend --*/

/*-- cmakerchildスタイル --*/
#cmakerChild{
	width: 100%;
	padding: 2%;
}
/*-- cmakerchildスタイルend --*/


/*-- wp更新ボタンスタイル --*/

.wp-submitAllBtn{
	margin: 2%;
}

/*-- wp更新ボタンスタイルend --*/

/*#################################
	鳴雷コンテンツメーカースタイル
#################################*/

/*------　ランキングスタイル　-------*/

#cmaker_ranking_wrap{
	width: 100%;
	padding: 2%;
	box-sizing: border-box;
}



/*------　Prevewスタイル　-------*/

.cmakerPrevew{
	width: 100%;
	box-sizing: border-box;
	position: relative;
}
//ランキングプレビュースタイル
.rank-primary-title-prevew{
	width: 100%;
	text-align: center;
	margin: 0 auto 5%;
	text-align: center;
	box-shadow: 0px 4px 2px -3px #b6b4b4;
	p{
		font-size: 1.2em;
		position: relative;
  		display: inline-block;
  		margin-bottom: 3em;
		font-weight: bold;
	}
	p::before{
		content: '';
  		position: absolute;
  		bottom: -15px;
  		display: inline-block;
  		width: 60px;
  		height: 2px;
  		left: 50%;
  		-webkit-transform: translateX(-50%);
  		transform: translateX(-50%);
  		background-color: #000000bf;
  		border-radius: 2px;
	}
}
.ranking-all-wrap{
	width: 100%;
	position: relative;
    display: flex;
    overflow: scroll;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
	
}

.rank-scroll{
	text-align: center;
	width: 90px;
	height: 90px;
	border-radius: 50%;
	position: absolute;
	top: 35%;
	right: -5%;
	z-index: 99;
	background-color: #FFFF44;
	font-weight: bold;
	line-height: 20px;
}
//ランキング背景デザイン


//デザインなし
.rank-pop{
	display: none;
}
//四角
.math_sq_bg{
	font-family: math;
	font-weight: bold;
	width: 20%;
	font-size: 1.8em;
	box-sizing: border-box;
	text-align: center;
	background-color: #dbbf4b;
	color: #f0f0f1;
	padding: 5px;
	margin: -5px;
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
	position: absolute;
}
//丸型
.math_circle_bg{
	font-family: math;
	font-weight: bold;
	width: 40px;
	height: 40px;
	font-size: 1.8em;
	box-sizing: border-box;
	text-align: center;
	background-color: #DBBF4B;
	color: #ffffff;
	border-radius: 50%;
	padding: 4px;
	position: absolute;
}
//縦帯
.math_band_bg{
	font-family: math;
	font-weight: bold;
	width: 35px;
	height: 70px;
	font-size: 1em;
	box-sizing: border-box;
	z-index: 99;
	color: #ffffff;
	transform: translate(-10px,3px);
	text-align: center;
	position: absolute;
	span::after,
	span::before{
		position: absolute;
		content: '';
	}
	span::before{
		right: -13px;
		top: -14px;
  		width: 0;
  		height: 0;
  		border-right: 10px solid transparent;
  		border-bottom: 6px solid #9C8320;
	}
	span::after{
		top: -20%;
  		left: 0;
  		display: block;
  		height: 20px;
  		border: 1.2rem solid #DBBF4B;
  		border-bottom-width: 15px;
  		border-bottom-color: transparent;
		z-index: -1;
	}

}
//三角ラベル

.math_label_bg{
	font-family: math;
	font-weight: bold;
	width: 20px;
	height: 70px;
	font-size: 1.2em;
	box-sizing: border-box;
	z-index: 99;
	transform: translate(8px,8px);
	text-align: center;
	color: #ffffff;
	position: absolute;
	top: 0;
	left: 0;
	span::after,
	span::before{
		position: absolute;
		content: '';
	}
	span::after{
		top: -8px;
  		left: -8px;
  		display: block;
  		width: 0;
		height: 0;
		border-style: solid;
		border-width: 50px 50px 0 0;
		border-color: #DBBF4B transparent transparent transparent;
		z-index: -1;
		border-top-left-radius: 5px;
	}
}

//ランキングデザイン
//画像背景丸形切り抜き
.circle{
	margin: 20px;
	border-radius: 5px;
	padding: 5px;
	background-color: #ffffff;
	box-shadow: 2px 8px 13px -4px #b6b4b4;
    width: 192px;
	position: relative;
	a{
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 99;
	}
	.ranking-img{
		text-align: center;
		margin: 20px 0 10px;
		img{
			max-width: 100%;
			object-fit: cover;
			border-radius: 50%;
			width: 180px;
			height: 180px;
			padding: 10px;
		}
	}
	
    .ranking-item-title{
    	margin: 10px;
		font-size: 1.3em;
		font-weight: bold;
		width: 192px;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
    }
    .ranking-item-title::before{
    	content: '';
    	border: 2px #AD002D solid;
    	margin-right: 8px;
    }
	
	p{
		margin-left: 10px;
		font-weight: bold;
		line-height: 15px;
	}
}

//画像切り抜き背景透過
.clipping{
	margin: 20px;
	border-radius: 5px;
	padding: 5px;
	background-color: #ffffff;
	box-shadow: 2px 8px 13px -4px #b6b4b4;
    width: 192px;
	position: relative;
	a{
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 99;
	}
	.ranking-img{
		text-align: center;
		margin: 20px 0 10px;
		img{
			max-width: 100%;
			width: 200px;
			height: 200px;
			object-fit: cover;
			box-sizing: border-box;
			border-radius: 5px;
		}
	}
	
    .ranking-item-title{
    	margin: 10px;
		font-size: 1.3em;
		font-weight: bold;
		width: 192px;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
    }
    .ranking-item-title::before{
    	content: '';
    	border: 2px #AD002D solid;
    	margin-right: 8px;
    }
	
	p{
		margin-left: 10px;
		font-weight: bold;
		line-height: 15px;
	}
 
}
//オーバーレイ
.overlay{
	position: relative;
	margin: 20px;
	border-radius: 5px;
	padding: 5px;
	background-color: #ffffff;
	box-shadow: 2px 8px 13px -4px #b6b4b4;
    width: 192px;
	a{
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 99;
	}
	.ranking-img{
		text-align: center;
		margin: 20px 0 10px;
		img{
			width: 200px;
			height: 200px;
			object-fit: cover;
			box-sizing: border-box;
			border-radius: 5px;
			opacity: 0;
		}
	}
	.ranking-discription{
		background-color: #000000bf;
		box-sizing: border-box;
		position: absolute;
		left: 0;
		bottom: 0;
		border-bottom-right-radius: 5px;
		border-bottom-left-radius: 5px;
    .ranking-item-title{
		font-size: 1.3em;
		font-weight: bold;
		color: #FFFFFF;
		width: 192px;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
    }
    .ranking-item-title::before{
    	content: '';
    	border: 2px #AD002D solid;
    	margin-right: 8px;
    }
	
	p{
		margin-left: 10px;
		font-weight: bold;
		line-height: 15px;
		color: #FFFFFF;
	}
	}
}
//テスト



/*------　ランキングタイトルスタイル　-------*/


.rank-p-title-wrap{
	margin: 70px 0;
	.rank-primary-title{
		width: 70%;
		border: 2px solid;
		height: 50px;
		margin-top: 20px;
	}
}


/*------　ランキングタイトルスタイルend　-------*/


/*------　ランキング背景スタイル　-------*/
.rank-item-detail-wrap {
	width: 100%;
	display: block;
	position: relative
}
//ランキング非表示オーバーレイスタイル
.rank-notinput-overlay{
	width: 80%;
	height: 70%;
	position: absolute;
	top: 26%;
	left: 0;
	padding: 30px;
	box-sizing: border-box;
	background-color: rgba(0,0,0,0.6);
	transform: translate(15%,0);
	border-radius: 10px;
	p{
		color: #FFFFFF;
		transform: translate(0,100%);
	}
	
}
.rank-notshow-p{
	text-align: center;
	font-size: 1.3em;
	font-weight: bold;
}
.rank-notshow-p-sub{
	width: 63%;
	margin: 0 auto;
}
.rank-font-all-wrap{
	width: 100%;
	margin: 0 0 100px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	.font-wrap{
		width: 100px;
		height: 180px;
	.rank-font-1-wrap{
		width: 100px;
		height: 100px;
		box-shadow: 2px 8px 13px -4px #b6b4b4;
		border-radius: 0px;
		background-color: #ffffff;
	}
	.rank-font-1{
		font-family: math;
		font-weight: bold;
		width: 90px;
		height: 90px;
		font-size: 4em;
		box-sizing: border-box;
		text-align: center;
		background-color: #dbbf4b;
		color: #ffffff;
	}
	.font-setting{
		text-align: center;
		.font-title{
			font-weight: bold;
			text-align: center;
			line-height: 27px;
			width: 90%;
			margin: 10px auto;
			border-bottom: 2px #0086AD solid;
		}	
	}
  } //font-wrap-end
}//rank-font-all-wrap-end


	.font-wrap-2{
		width: 100px;
		height: 180px;
	.rank-font-2-wrap{
		width: 100px;
		height: 100px;
		box-shadow: 2px 8px 13px -4px #b6b4b4;
		border-radius: 0px;
		background-color: #ffffff;
	}
	.rank-font-2{
		font-family: math;
		font-weight: bold;
		width: 70px;
		height: 70px;
		font-size: 4em;
		box-sizing: border-box;
		padding-left: 23px;
		background-color: #dbbf4b;
		color: #ffffff;
		border-radius: 50%;
		transform: translate(8px,8px);
	}
	.font-setting{
		text-align: center;
		.font-title{
			font-weight: bold;
			text-align: center;
			line-height: 27px;
			width: 90%;
			margin: 10px auto;
			border-bottom: 2px #0086AD solid;
		}	
	}
  } //font-wrap-2-end


.font-wrap-3{
		width: 100px;
		height: 180px;
	.rank-font-3-wrap{
		width: 100px;
		height: 100px;
		box-shadow: 2px 8px 13px -4px #b6b4b4;
		border-radius: 0px;
		background-color: #ffffff;
	}
	.rank-font-3{
		font-family: math;
		font-weight: bold;
		width: 70px;
		height: 70px;
		font-size: 4em;
		box-sizing: border-box;
		z-index: 99;
		color: #ffffff;
		transform: translate(8px,8px);
		text-align: center;
		span::after,
		span::before{
			position: absolute;
			content: '';
		}
		span::before{
			right: -10px;
			top: -14px;
  			width: 0;
  			height: 0;
  			border-right: 10px solid transparent;
  			border-bottom: 6px solid #9C8320;
		}
		span::after{
			top: -20%;
  			left: 0;
  			display: block;
  			height: 44px;
  			border: 2.2rem solid #DBBF4B;
  			border-bottom-width: 15px;
  			border-bottom-color: transparent;
			z-index: -1;
		}
	}
	.font-setting{
		text-align: center;
		.font-title{
			font-weight: bold;
			text-align: center;
			line-height: 27px;
			width: 90%;
			margin: 10px auto;
			border-bottom: 2px #0086AD solid;
		}	
	}
  } //font-wrap-3-end

.font-wrap-4{
		width: 100px;
		height: 180px;
	.rank-font-4-wrap{
		width: 100px;
		height: 100px;
		box-shadow: 2px 8px 13px -4px #b6b4b4;
		border-radius: 0px;
		background-color: #ffffff;
	}
	.rank-font-4{
		font-family: math;
		font-weight: bold;
		width: 20px;
		height: 70px;
		font-size: 4em;
		box-sizing: border-box;
		z-index: 99;
		transform: translate(8px,8px);
		text-align: center;
		color: #ffffff;
		span::after,
		span::before{
			position: absolute;
			content: '';
		}
		span::after{
			top: -8px;
  			left: -8px;
  			display: block;
  			width: 0;
			height: 0;
			border-style: solid;
			border-width: 100px 100px 0 0;
			border-color: #DBBF4B transparent transparent transparent;
			z-index: -1;
		}
	}

	
	.font-setting{
		text-align: center;
		.font-title{
			font-weight: bold;
			text-align: center;
			line-height: 27px;
			width: 90%;
			margin: 10px auto;
			border-bottom: 2px #0086AD solid;
		}	
	}
  } //font-wrap-4-end


/*------　ランキングフォントスタイルend　-------*/


/*------　ランキングスタイル　-------*/

.rank-item-all-wrap{
	width: 100%;
	margin: 40px 0;
	display: flex;
	flex-direction: row-reverse;
	flex-wrap: wrap;
	align-content: stretch;
	justify-content: space-evenly;
	align-items: flex-end;
	//1つ目のランキングスタイル
	.rank-wrap{
		width: 150px;
	.rank-item-title{
		font-weight: bold;
		text-align: center;
		border-bottom: 2px #0086AD solid;
		line-height: 27px;
		width: 90%;
		margin: 10px auto;
		}
	.rank-item-wrap{
		position: relative;
		width: 150px;
		height: 200px;
		box-shadow: 2px 8px 13px -4px #b6b4b4;
		border-radius: 0px;
		.rank-item-bg{
			width: 100%;
			height: 100%;
			background-color: rgba(82,78,77,0.8);
			.img-p{
				font-size: 2em;
				color: #ffffff;
			    text-align: center;
				transform: translate(0,100%);
			}
			.rank-overray{
				background-color: rgba(255,255,255,0.9);
				position: absolute;
				width: 100%;
				height: 35%;
				bottom: 0;
				p{
					margin: 10px;
				}
				p::before{
					content: '';
					border: 2px #AD002D solid;
					margin-right: 8px;
				}
			}
		}
		
	}
}//1つ目のランキングスタイルend

	.rank-wrap-2{
		width: 150px;
	.rank-item-title-2{
		font-weight: bold;
		text-align: center;
		border-bottom: 2px #0086AD solid;
		line-height: 27px;
		width: 90%;
		margin: 10px auto;
	}
	.rank-item-wrap-2{
		position: relative;
		width: 150px;
		height: 200px;
		box-shadow: 2px 8px 13px -4px #b6b4b4;
		.rank-item-bg-2{
			width: 100px;
			height: 100px;
			border-radius: 50%;
			border: 3px rgba(82,78,77,0.8) solid;
			margin: 0 auto;
			transform: translate(0,24px);
			.img-p-2{
				font-size: 2em;
				color: rgba(82,78,77,0.8);
			    text-align: center;
				box-sizing: border-box;
				padding: 4px;
			}
		}	
	 }
	.rank-overray-2{
				background-color: rgba(255,255,255,0.9);
				position: absolute;
				width: 100%;
				height: 35%;
				bottom: 0;
			    p{
					margin: 10px;
				}
				p::before{
					content: '';
					border: 2px #AD002D solid;
					margin-right: 8px;
				}
	}
}//2つ目のランキングスタイルend
	
	.rank-wrap-3{
		width: 150px;
	.rank-item-title-3{
		font-weight: bold;
		text-align: center;
		border-bottom: 2px #0086AD solid;
		line-height: 27px;
		width: 90%;
		margin: 10px auto;
	}
	.rank-item-wrap-3{
		position: relative;
		width: 150px;
		height: 200px;
		box-shadow: 2px 8px 13px -4px #b6b4b4;
		border-radius: 0px;
		.rank-item-bg-3{
			width: 100px;
			height: 100px;
			border-radius: 50%;
			background-color: rgba(82,78,77,0.8);
			margin: 0 auto;
			transform: translate(0,24px);
			.img-p-3{
				font-size: 2em;
				color: #ffffff;
			    text-align: center;
				transform: translate(0,80%);
			}
		}	
	 }
	.rank-overray-3{
				background-color: rgba(255,255,255,0.9);
				position: absolute;
				width: 100%;
				height: 35%;
				bottom: 0;
			    p{
					margin: 10px;
				}
				p::before{
					content: '';
					border: 2px #AD002D solid;
					margin-right: 8px;
				}
	}
}//3つ目のランキングスタイルend
	
	.rank-radio-style{
		width: 100%;
		text-align: center;
		margin-top: 10px;
	}
  
}//ランキングスタイルend


/*------　ランキングスタイルend　-------*/


/*------　表示切り替えスタイル　-------*/

.notshow{
	display: none;
}

/*------　表示切り替えスタイルend　-------*/


/*------　ランキングスタイルend　-------*/


/*------　コンセプトスタイル　-------*/

.adm-textarea{
	width: 100%;
	height: 200px;
	border: 2px solid;
	padding: 10px;
}
.concept-back-wrap{
	position: relative;
	width: 100%;
	height: 50vh;
	background-size: cover;
	background-position: center;
	.concept-text-wrap{
		width: 80%;
		height: 80%;
		background-color: rgba(255,255,255,0.89);
		position: absolute;
		top: 10%;
		left: 10%;
		border-radius: 5px;
		.concept-main-title{
			position: relative;
			display: block;
			text-align: center;
			font-size: 1.4rem;
			font-weight: bold;
			background-color: rgba(255,255,255,0.4);
			margin: 40px 0;
			padding: 20px 0;
		}
		.concept-main-title::before{
		content: '';
  		position: absolute;
  		bottom: 5px;
  		display: inline-block;
  		width: 100px;
  		height: 2px;
  		left: 50%;
  		-webkit-transform: translateX(-50%);
  		transform: translateX(-50%);
  		background-color: #000000bf;
  		border-radius: 2px;
		}
		.concept-main-content{
			display: block;
			width: 55%;
			margin: 40px auto;
			padding: 20px;
			line-height: 20px;
			white-space: pre;
			background-color: rgba(255,255,255,0.4);
		}
	}
}

/*------　コンセプトスタイルend　-------*/




/*#################################
	fontawesomeスタイル
#################################*/


/*------　fontawesomeサブフッター用スタイル　-------*/


.fa-solid, 
.fa-lock,{
	font-size: 1.5em;
	color: #696969;
	padding: 1%;
}
.moveOn{
	color: #00cc33;
	transition: 1s;
}


/*------　fontawesomeサブフッター用スタイルend　-------*/



/*#################################
	subooterスタイル
#################################*/

/*------　サブフッター表示、非表示切り替えbuttonスタイル　-------*/

.toggle-area{
	padding: 2em 1em;
    margin: 4em 0;
    font-weight: bold;
    border: solid 1px #767676;
	border-radius: 5px;
	box-shadow: 10px 10px 14px -10px #777777;
}


div.toggle-area input[type="checkbox"] {
  display: none;
}

.toggle-area label {
  position: relative;
  padding-left: 60px;
  cursor: pointer;
}

.toggle-area label::before,
.toggle-area label::after {
  content: "";
  display: block;
  position: absolute;
  /* 位置調整 */
  top: 50%;
  left: 0px;
  /* 中央に揃える */
  transform: translateY(-50%);
  /* 枠線 */
  border: 1.4px solid rgba(0,0,0,.3);
  border-radius: 50%;
  /* アニメーションの変化時間 */
  transition: .2s;
}

.toggle-area label::before {
  /* 背景色 */
  background-color: #7E8080;
  /* 枠線 */
  border: 1.4px solid rgba(0,0,0,.3);
  border-radius: 12px;
  /* サイズ調整 */
  height: 20px;
  width: 40px;
  /* 位置調整 */
  top: 50%;
  left: 5px;
}

.toggle-area label::after {
  /* 背景色 */
  background-color: #fff;
  /* 枠線 */
  border-radius: 50%;
  /* サイズ調整 */
  height: 23px;
  width: 23px;
  /* 位置調整 */
  top: 50%;
  left: 0px;
}

/* チェックありの場合 */
input:checked + label::before {
  /* 背景色 */
  background-color: #00cc33;
}

input:checked + label::after {
  /* トグルを右に移動させる */
  left: 26px;
}

/*------　サブフッター表示、非表示切り替えbuttonスタイルend　-------*/


/*-- サブフッタープレビュースタイル --*/


.subf-prev-bg{
	width: 100%;
	margin: 7% auto;
	padding: 7% 4% 4%;
	background-color: #FFF7B6;
	box-shadow: 10px 10px 14px -10px #777777;
}
.subf-prev-wrap{
	width: 100%;
	margin: 0;
	text-align: center;
	padding: 2% 1%;
	box-shadow: 0px -3px 14px -7px #777777;
	li{
		display: inline-block;
		margin: 2% 4%;
		a{
			text-decoration: none;
			font-weight: bold;
		}
	}
}
.subf-prev-title{
	position: absolute;
    display: inline-block;
    margin: -15px 0 1rem -10px;
    padding: 1rem 3rem;
    color: #fff;
    border-radius: 0 100vh 100vh 0;
    background: #0075a9;
    -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, .2);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, .2);
}
.subf-prev-title::before{
	position: absolute;
  	bottom: -10px;
  	left: 0;
  	width: 0;
  	height: 0;
  	content: '';
  	border-top: 10px solid #005276;
  	border-left: 10px solid transparent;
}


/*-- サブフッタープレビュースタイルend --*/


/*------　サブフッターCRUDシステムスタイル　-------*/


/*-- input要素入力スタイル --*/

.all_form_wrap{
	width: 100%;
	display: block;
	#text,
	#url{
		display: block;
		margin-top: 8%;
		display: block;
	}
}

input.subfootersForm{
	width: 90%;
	margin: 3%;
	line-height: 2.5;
	min-height: 35px
}
/*-- input要素入力スタイルend --*/


.crudWrap{
	height: 735px;
	width: 100%;
	padding: 2%;
	margin: 2% 0;
	border-radius: 5px;
	border: 0.5px solid #767676;
	
	overflow-x: scroll;
}
.subfooterNumberdiscription{
	color: #505050;
	padding: 1%;
}
.subfooterNumberdiscription::before{
	content: '●';
	color: #8ABBC1;
  	margin-right: 8px;
}
.subfooters{
	width: 100%;
}
.subfootersTablewrap{
	width: 100%;
	padding: 1%;
	background-color: #ffffff;
	margin: 2% 0;
	th{
		text-align: center;
		padding: 2%;
		border-width: 1px;
	}
	tr{
		border: 1px solid;
	}
	td{
		border-width: 1px;
		padding: 2%;
		text-align: center;
	}
}
.subfooterTWS{
	background-color: #FFFFFF;
	box-shadow: 0px 8px 16px -2px rgba(10,10,10,0.1), 0px 0px 12px 1px rgba(10,10,10,0.29);
}
.BgSwich{
	background-color: #fffffff;
	box-shadow: 0px 0px 16px -6px rgba(0,0,0,0.6) inset;
	cursor: move;
}
.crudSwichBg{
	background-color: #D2D2D2;
}
.subfooterMoveBtn{
	width: 4rem;
	padding: 1%;
	margin: 1%;
	background-color: #EAEAEA;
	border: none;
	box-shadow: 1px 1px 1px rgba(51,51,51,0.7);
	border-top-left-radius: 5%;
	border-top-right-radius: 5%;
	border-bottom-left-radius: 5%;
	border-bottom-right-radius: 5%;
}


/*------　サブフッターCRUDシステムbuttonスタイル　-------*/


.subfootersBtnAllWrap{
	width: 100%;
	text-align: right;
}

/*------　サブフッターCRUDシステムbuttonスタイルend　-------*/


/*------　サブフッターCRUDシステムスタイルend　-------*/


/*------　サブフッター用カラーボックススタイル　-------*/


.color-bg-box{
	width: 100%;
	display: flex;
	margin: 8% 0 2%;
	padding: 5% 0;
	background-color: #f4f4f4;
	box-shadow: 10px 10px 14px -10px #777777;
	.color-box-child{
		margin: 0 2%;
		padding: 1%;
		border: 1px #9B9B9B;
    }
}

.subf-colorBox-title{
	position: absolute;
    display: inline-block;
    margin: 3rem 0 1rem -10px;
    padding: 1rem 3rem;
    color: #fff;
    border-radius: 0 100vh 100vh 0;
    background: #0075a9;
    -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, .2);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, .2);
}
.subf-colorBox-title::before{
	position: absolute;
  	bottom: -10px;
  	left: 0;
  	width: 0;
  	height: 0;
  	content: '';
  	border-top: 10px solid #005276;
  	border-left: 10px solid transparent;
}

/*------　サブフッター用カラーボックススタイルend　-------*/



/*#################################
	subooterスタイル--END--
#################################*/



