@charset "UTF-8";
/*================================
	adimin-page 共通パーツスタイル
=================================*/
/*-- hタグ、見出しスタイル --*/
.postbox .inside h2, .postbox .inside .narukami-admin-h2 {
  color: #505050;
  font-size: 1.3em;
  font-weight: bold;
  margin: 2%; }
.postbox .inside h2, .postbox .inside .narukami-admin-h2::before {
  content: '●';
  color: #8ABBC1;
  margin-right: 8px; }

/*-- hタグ、見出しスタイルend --*/
/*-- BG,背景スタイル --*/
#back_wrap {
  width: 100%;
  height: 100%;
  background-color: #8ABBC1;
  box-shadow: 4px 4px 16px -5px #777777; }
  #back_wrap .metabox-holder {
    padding: 2%; }
    #back_wrap .metabox-holder .setting_description {
      width: 80%;
      max-width: 700px;
      margin: 5% 0; }
  #back_wrap .postbox.bg {
    width: 90%;
    max-width: 1200px;
    padding: 4%; }
  #back_wrap .postbox {
    box-shadow: 4px 4px 16px -5px #777777; }
  #back_wrap .hndle {
    border-bottom: 1px solid #B2B2B2; }
    #back_wrap .hndle .title {
      margin-left: 25px;
      font-size: 1.2em;
      font-weight: bold; }
    #back_wrap .hndle .title::before {
      content: "";
      position: absolute;
      width: 20px;
      height: 20px;
      background-color: #8ABBC1;
      border-radius: 50%;
      margin-left: -25px; }

/*-- BG,背景スタイルend --*/
/*-- wp更新ボタンスタイル --*/
.wp-submitAllBtn {
  margin: 2%; }

/*-- wp更新ボタンスタイルend --*/
/*#################################
	鳴雷コンテンツメーカースタイル
#################################*/
/*------　content1-allスタイル　-------*/
#item_1column {
  width: 100%;
  padding: 2%; }

/*------　content1-inputFormスタイル　-------*/
.inputForm {
  border: 1px solid;
  width: 100%; }

/*------　content1-inputformスタイルend　-------*/
/*------　content1-narukamiContent1Prevewスタイル　-------*/
.item_1column_Prevew {
  border: 1px solid;
  width: 100%; }

/*------　content1-narukamiContent1Prevewスタイルend　-------*/
/*------　content1-allスタイルend　-------*/
/*#################################
	fontawesomeスタイル
#################################*/
/*------　fontawesomeサブフッター用スタイル　-------*/
.fa-solid,
.fa-lock {
  font-size: 1.5em;
  color: #696969;
  padding: 1%; }

.moveOn {
  color: #00cc33;
  transition: 1s; }

/*------　fontawesomeサブフッター用スタイルend　-------*/
/*#################################
	subooterスタイル
#################################*/
/*------　サブフッター表示、非表示切り替えbuttonスタイル　-------*/
.toggle-area {
  padding: 2em 1em;
  margin: 4em 0;
  font-weight: bold;
  border: solid 1px #767676;
  border-radius: 5px;
  box-shadow: 10px 10px 14px -10px #777777; }

div.toggle-area input[type="checkbox"] {
  display: none; }

.toggle-area label {
  position: relative;
  padding-left: 60px;
  cursor: pointer; }

.toggle-area label::before,
.toggle-area label::after {
  content: "";
  display: block;
  position: absolute;
  /* 位置調整 */
  top: 50%;
  left: 0px;
  /* 中央に揃える */
  transform: translateY(-50%);
  /* 枠線 */
  border: 1.4px solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  /* アニメーションの変化時間 */
  transition: .2s; }

.toggle-area label::before {
  /* 背景色 */
  background-color: #7E8080;
  /* 枠線 */
  border: 1.4px solid rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  /* サイズ調整 */
  height: 20px;
  width: 40px;
  /* 位置調整 */
  top: 50%;
  left: 5px; }

.toggle-area label::after {
  /* 背景色 */
  background-color: #fff;
  /* 枠線 */
  border-radius: 50%;
  /* サイズ調整 */
  height: 23px;
  width: 23px;
  /* 位置調整 */
  top: 50%;
  left: 0px; }

/* チェックありの場合 */
input:checked + label::before {
  /* 背景色 */
  background-color: #00cc33; }

input:checked + label::after {
  /* トグルを右に移動させる */
  left: 26px; }

/*------　サブフッター表示、非表示切り替えbuttonスタイルend　-------*/
/*-- サブフッタープレビュースタイル --*/
.subf-prev-bg {
  width: 100%;
  margin: 7% auto;
  padding: 7% 4% 4%;
  background-color: #FFF7B6;
  box-shadow: 10px 10px 14px -10px #777777; }

.subf-prev-wrap {
  width: 100%;
  margin: 0;
  text-align: center;
  padding: 2% 1%;
  box-shadow: 0px -3px 14px -7px #777777; }
  .subf-prev-wrap li {
    display: inline-block;
    margin: 2% 4%; }
    .subf-prev-wrap li a {
      text-decoration: none;
      font-weight: bold; }

.subf-prev-title {
  position: absolute;
  display: inline-block;
  margin: -15px 0 1rem -10px;
  padding: 1rem 3rem;
  color: #fff;
  border-radius: 0 100vh 100vh 0;
  background: #0075a9;
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2); }

.subf-prev-title::before {
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 0;
  height: 0;
  content: '';
  border-top: 10px solid #005276;
  border-left: 10px solid transparent; }

/*-- サブフッタープレビュースタイルend --*/
/*------　サブフッターCRUDシステムスタイル　-------*/
/*-- input要素入力スタイル --*/
.all_form_wrap {
  width: 100%;
  display: block; }
  .all_form_wrap #text,
  .all_form_wrap #url {
    display: block;
    margin-top: 8%;
    display: block; }

input.subfootersForm {
  width: 90%;
  margin: 3%;
  line-height: 2.5;
  min-height: 35px; }

/*-- input要素入力スタイルend --*/
.crudWrap {
  height: 735px;
  width: 100%;
  padding: 2%;
  margin: 2% 0;
  border-radius: 5px;
  border: 0.5px solid #767676;
  overflow-x: scroll; }

.subfooterNumberdiscription {
  color: #505050;
  padding: 1%; }

.subfooterNumberdiscription::before {
  content: '●';
  color: #8ABBC1;
  margin-right: 8px; }

.subfooters {
  width: 100%; }

.subfootersTablewrap {
  width: 100%;
  padding: 1%;
  background-color: #ffffff;
  margin: 2% 0; }
  .subfootersTablewrap th {
    text-align: center;
    padding: 2%;
    border-width: 1px; }
  .subfootersTablewrap tr {
    border: 1px solid; }
  .subfootersTablewrap td {
    border-width: 1px;
    padding: 2%;
    text-align: center; }

.subfooterTWS {
  background-color: #FFFFFF;
  box-shadow: 0px 8px 16px -2px rgba(10, 10, 10, 0.1), 0px 0px 12px 1px rgba(10, 10, 10, 0.29); }

.BgSwich {
  background-color: #fffffff;
  box-shadow: 0px 0px 16px -6px rgba(0, 0, 0, 0.6) inset;
  cursor: move; }

.crudSwichBg {
  background-color: #D2D2D2; }

.subfooterMoveBtn {
  width: 4rem;
  padding: 1%;
  margin: 1%;
  background-color: #EAEAEA;
  border: none;
  box-shadow: 1px 1px 1px rgba(51, 51, 51, 0.7);
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%; }

/*------　サブフッターCRUDシステムbuttonスタイル　-------*/
.subfootersBtnAllWrap {
  width: 100%;
  text-align: right; }

/*------　サブフッターCRUDシステムbuttonスタイルend　-------*/
/*------　サブフッターCRUDシステムスタイルend　-------*/
/*------　サブフッター用カラーボックススタイル　-------*/
.color-bg-box {
  width: 100%;
  display: flex;
  margin: 8% 0 2%;
  padding: 5% 0;
  background-color: #f4f4f4;
  box-shadow: 10px 10px 14px -10px #777777; }
  .color-bg-box .color-box-child {
    margin: 0 2%;
    padding: 1%;
    border: 1px #9B9B9B; }

.subf-colorBox-title {
  position: absolute;
  display: inline-block;
  margin: 3rem 0 1rem -10px;
  padding: 1rem 3rem;
  color: #fff;
  border-radius: 0 100vh 100vh 0;
  background: #0075a9;
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2); }

.subf-colorBox-title::before {
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 0;
  height: 0;
  content: '';
  border-top: 10px solid #005276;
  border-left: 10px solid transparent; }

/*------　サブフッター用カラーボックススタイルend　-------*/
/*#################################
	subooterスタイル--END--
#################################*/
