.narukami-hedding-style1 {
  border-bottom: 1px solid;
  padding-bottom: 10px;
  display: block;
  margin-bottom: 5px; }

.narukami-subtitle {
  margin-top: 0;
  padding-top: 3px; }

.components-radio-control__option {
  margin-bottom: 10px; }
