//エディタースタイル
//リセットcss

.wp-block-heading,
.wp-block-paragraph {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}
/* パターンタブを非表示 */
.block-editor-inserter__panel-patterns {
    display: none;
}

/* メディアタブを非表示 */
.block-editor-inserter__tabs button[aria-label="メディア"] {
    display: none;
}

/* 商品リストページ鳴雷ブロックスタイル */
.narukami-slider-title{
	width: 100%;
    padding-left: 17px;
    margin-bottom: 20px;
}
//商品一覧ブロックスタイル
.item-add-btn,
.slide-add-btn{
	position: relative;
    display: inline-block;
    width: 15%;
    height: 50px;
    background-color: #d16407;
    color: #FFFFFF;
    text-align: center;
    border: 0;
    margin: 0 2% 2%;
    border-radius: 3px;
	&:hover{
			background-color: #ffffff;
			color: #d16407;
			font-weight: bold;
			border: 2px solid #d16407;
			transition: 0.2s;
		}
	}
.item-list-block-editor,
.slide-list{//grid wrap
	position: relative;
	width: 100%;
	margin: 2%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
    gap: 90px 20px;
	.item-list-editor,
	.slide-item{//個別ブロックwrap
		.item-remove-btn,
		.slide-remove-btn{
			width: 100%;
    		height: 25px;
    		background-color: #9D3B3B;
    		border-radius: 0;
    		border: 0;
    		margin: 0;
    		color: #FFFFFF;
    		font-size: 10px;
			&:hover{
				background-color: #CC7979;
				color: #782D2D;
			}
		}
		img{
			width: 200px;
			height: 160px;
			object-fit: contain;
			object-position: center;
		}
		.item-list-img-btn,
		.slide-image-btn{//画像追加ボタン
			width: 100%;
			height: 160px;
			box-shadow: .1px .1px 2px;
			padding: 20px;
		}
	}
}

//見出しデザイン1
.narukami-hedding-style11{
	max-width: 950px;
	height: 120px;
	margin: 6% auto;
	position: relative;
	.narukami-hedding-style1{
		width: 100%;
		display: block;
		text-align: center;
		margin:  0 auto 5px auto;
	&::before{
		content: '';
		position: absolute;
    	bottom: -10px;
    	display: inline-block;
    	width: 30px;
    	height: 2px;
    	left: 50%;
    	-webkit-transform: translateX(-50%);
    	transform: translateX(-50%);
    	background-color: #4e4d4d;
    	border-radius: 10px;
	}
	}
	.narukami-subtitle{
		width: 100%;
		margin: 0 auto auto auto;
		padding-top: 15px;
		text-align: center;
		box-shadow: 0px 4px 2px -3px #b6b4b4;
		padding-bottom: 10px;
	}
}
//見出しデザイン２
.narukami-hedding-style21{
	max-width: 866px;
	height: 120px;
	margin: 6% auto;
	position: relative;
	.narukami-hedding-style2{
		width: 100%;
		display: block;
		margin:  0 auto 5px auto;
		text-align: left;
		padding-left: 25px;
		box-sizing: border-box;
	&::before{
		content: '';
		position: absolute;
    	bottom: -10px;
    	display: inline-block;
    	width: 100%;
    	height: 2px;
    	left: 50%;
    	-webkit-transform: translateX(-50%);
    	transform: translateX(-50%);
    	background-color: #b6b4b4;
    	border-radius: 10px;
	}
	&::after{
		content: '';
		position: absolute;
    	display: inline-block;
    	width: 10px;
    	height: 37px;
    	left: 0;
		top: 0;
    	background-color: #d16407;	
	}
	}
	.narukami-subtitle{
		width: 100%;
		margin: 0 auto;
		text-align: left;
		padding: 8px 0 10px 25px;
		position: absolute;
		left: 0;
		box-sizing: border-box;
	}
}

//見出しデザイン3
.narukami-hedding-style31{
	max-width: 866px;
	height: 120px;
	margin: 6% auto;
	position: relative;
	.narukami-hedding-style3{
		width: 100%;
		display: block;
		margin:  0 auto 5px auto;
		text-align: left;
		padding-left: 45px;
		box-sizing: border-box;
	&::before{
		content: '';
		position: absolute;
    	bottom: -10px;
    	display: inline-block;
    	width: 100%;
    	height: 2px;
    	left: 50%;
    	-webkit-transform: translateX(-50%);
    	transform: translateX(-50%);
    	background-color: #b6b4b4;
    	border-radius: 10px;
	}
	&::after{
		content: '';
		position: absolute;
    	display: inline-block;
    	width: 30px;
    	height: 30px;
    	left: 0;
		top: 5px;
    	background-color: #0086ad;	
		border-radius: 50%;
	}
	}
	.narukami-subtitle{
		width: 100%;
		margin: 0 auto;
		text-align: right;
		padding: 8px 25px 10px 0;
		position: absolute;
		right: 0;
	}
}

/* 商品紹介ページ鳴雷ブロックスタイル */
.product-slider-block{//商品解説 --all wrap--
	max-width: 1100px;
	position: relative;
	display: flex;
	.slider-container{
		position: relative;
		width: 50%;
		.selected-images{
			width: 300px;
			height: 300px;
			img{
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
		}
			
	}
	.content-container{
		
	}
}



//インスペクターパネル
.components-radio-control__option {//ラジオボタン上下マージン
    margin-bottom: 10px;
}