// Scss Document
.sub_footer_bg{
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	.sub_footer_main{
		display: flex;
		justify-content: center;
		align-items: center;
		width: 80%;
		height: 100%;
		margin: 2% auto;
		li{
			list-style: none;
			margin: 0 4%;
			a{
				text-decoration: none;
			}
		
		}
	}
}
