// Scss Document
.sub_footer_bg{
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	.sub_footer_main{
		display: flex;
		justify-content: space-around;
		align-items: center;
		width: 100%;
		height: 100%;
		margin: 2% auto;
		li{
			list-style: none;
			
		}
	}
}
