// Scss Document
.popup-element-all-wrap{
	width: 100%;
	margin: 0 auto;
	background-color: #FFFFFF;
	.popup-discription{
		width: 100%;
		margin: 0 auto;
		.concept-back-wrap{
			position: relative;
			width: 100%;
			height: 90%;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			.concept-text-wrap{
				width: 80%;
				height: 60%;
				background-color: rgba(255,255,255,0.89);
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);
				border-radius: 5px;
				overflow-y: scroll;
				.concept-main-title{
					position: relative;
					display: block;
					text-align: center;
					font-size: 1em;
					font-weight: bold;
					background-color: rgba(255,255,255,0.4);
					margin: 40px 0;
					padding: 40px 0;
					letter-spacing: 5px;
					span {
		       			display: inline-block;
		       			transition: 1s;
		       			opacity: 0;
		       			transform: translateX(50px);
		       			
		       			&.is-animated {
		       			    opacity: 1;
		       			    transform: translateX(0);
		       			}
		   		    }
				}
				.concept-main-title::before{
				content: '';
		  		position: absolute;
		  		bottom: 30px;
		  		display: inline-block;
		  		width: 100px;
		  		height: 2px;
		  		left: 50%;
		  		-webkit-transform: translateX(-50%);
		  		transform: translateX(-50%);
		  		background-color: #000000bf;
		  		border-radius: 2px;
				}
				.concept-main-content{
					display: block;
					width: 55%;
					height: 250px;
					box-sizing: border-box;
					overflow: scroll;
					margin: 40px auto;
					padding: 20px;
					line-height: 20px;
					background-color: rgba(255,255,255,0.4);
					font-size: 0.8em;
				}
			}
		}
	}
}
//ランキング
.popup-element-all-wrap{
	.popup-discription{
		.rank-primary-title-prevew{
			width: 90%;
			text-align: center;
			margin: 0 auto 5%;
			text-align: center;
			box-shadow: 0px 4px 2px -3px #b6b4b4;
			padding: 7% 0 0;
				.r-p-t-prev{
					font-size: 1em;
					position: relative;
  					display: inline-block;
  					margin-bottom: 2em;
					font-weight: bold;
					letter-spacing: 3px;
					span {
    			   		display: inline-block;
    			   		transition: 1s;
    			   		opacity: 0;
    			   		transform: translateX(50px);
    			   		
    			   		&.is-animated {
    			   		    opacity: 1;
    			   		    transform: translateX(0);
    			   		}
   					 }
				}
				.r-p-t-prev::before{
					content: '';
  					position: absolute;
  					bottom: -15px;
  					display: inline-block;
  					width: 60px;
  					height: 2px;
  					left: 50%;
  					-webkit-transform: translateX(-50%);
  					transform: translateX(-50%);
  					background-color: #000000bf;
  					border-radius: 2px;
				}
		}
		.ranking-all-wrap{
			width: 100%;
			position: relative;
		    display: flex;
		    overflow: scroll;
		    flex-wrap: nowrap;
		    justify-content: flex-start;
		    align-items: center;
			
		}

//ランキング背景デザイン
//四角
.math_sq_bg{
	font-family: math;
	font-weight: bold;
	width: 20%;
	font-size: 1.8em;
	box-sizing: border-box;
	text-align: center;
	background-color: #dbbf4b;
	color: #f0f0f1;
	padding: 5px;
	margin: -5px;
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
	position: absolute;
}

//ランキングデザイン
//オーバーレイ
.overlay{
	position: relative;
	margin: 20px;
	border-radius: 5px;
	padding: 5px;
	background-color: #ffffff;
	box-shadow: 2px 8px 13px -4px #b6b4b4;
    width: 192px;
	background-size: cover;
    background-repeat: no-repeat;
	background-position: center;
	a{
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 99;
	}
	.ranking-img{
		text-align: center;
		margin: 20px 0 10px;
		img{
			width: 200px;
			height: 200px;
			object-fit: cover;
			box-sizing: border-box;
			border-radius: 5px;
			opacity: 0;
		}
	}
	.ranking-discription{
		background-color: #000000bf;
		box-sizing: border-box;
		position: absolute;
		left: 0;
		bottom: 0;
		border-bottom-right-radius: 5px;
		border-bottom-left-radius: 5px;
    	.ranking-item-title{
			font-size: .8em;
			font-weight: bold;
			color: #FFFFFF;
			width: 192px;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
    	}
   		.ranking-item-title::before{
   			content: '';
   			border: 2px #AD002D solid;
   			margin-right: 8px;
   		}
		p{
			margin-left: 10px;
			font-weight: bold;
			line-height: 15px;
			color: #FFFFFF;
		}
	}//.ranking-discription-end
	}//.overlay-end
	}//.popup-discription-end
}//.popup-element-all-wrap-end

//グランドメニュー
.popup-element-all-wrap{
	&.special-width{
		width: 100%;
	}
	.popup-discription{
		.gm-primary-title-prevew{
			width: 90%;
			text-align: center;
			margin: 2% auto;
			text-align: center;
			box-shadow: 0px 4px 2px -3px #b6b4b4;
			.gm-primary-title{
				font-size: 1em;
				position: relative;
  				display: inline-block;
  				margin-bottom: 2em;
				font-weight: bold;
				letter-spacing: 5px;
				span {
    		   		display: inline-block;
    		   		transition: 1s;
    		   		opacity: 0;
    		   		transform: translateX(50px);
    		   		
    		   		&.is-animated {
    		   		    opacity: 1;
    		   		    transform: translateX(0);
    		   		}
   				 }
			}
			.gm-primary-title::before{
				content: '';
  				position: absolute;
  				bottom: -15px;
  				display: inline-block;
  				width: 60px;
  				height: 2px;
  				left: 50%;
  				-webkit-transform: translateX(-50%);
  				transform: translateX(-50%);
  				background-color: #000000bf;
  				border-radius: 2px;
			}
		}
		.grandmenu-wrap{
			box-sizing: border-box;
			.grandmenu-title-wrap{
				width: 100%;
				display: flex;
				flex-wrap: wrap;
				list-style: none;
				box-sizing: border-box;
				margin: 0 auto;
				padding: 1% 1% 4%;
				.gm-item-wrap{
					flex: 1 0 200px;
					width: 130px;
					height: 150px;
					box-sizing: border-box;
					background-position: center;
					background-size: cover;
					background-repeat: no-repeat;
					transition: all .6s ease-in-out;
					box-shadow: 2px 8px 13px -4px #b6b4b4;
					text-decoration: none; /* 下線を非表示にする */
		  			color: inherit;
					position: relative;
					margin: 2% 3%;
		            transform: translateY(20px);
					p{
						width: 60%;
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%,-50%);
						padding: 6px;
						text-align: center;
						border: 3px  solid;
						color: #ffffff;
						font-size: 0.9em;
						font-weight: bold;
						text-shadow: 1px 1px 10px #000;
						background-color: rgba(0,0,0,0.17);
						letter-spacing: 1px;
					}
					
					&.show{
						opacity: 1;
		            	transform: translateY(0);
					}
					
				}
			}
		}
		
	}//.popup-discription-end
}//.popup-element-all-wrap-end
//右寄せ1カラム
.popup-element-all-wrap{
	.popup-discription{
		.column_right_1-all-wrap{
			width: 100%;
			height: auto;
			position: relative;
			display: flex;
			margin: 60px 0;
			height: 100%;
			.column_right_1-back-wrap{
				width: 100%;
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
			}
			.column_right_1-text-wrap{
				width: 40%;
				padding: 10px;
				margin: 0 10px;
				.column_right_1-main-title{
					letter-spacing: 5px;
					position: relative;
					width: 100%;
					font-size: 1.2em;
					font-weight: bold;
				}
				.column_right_1-main-title::after{
					content: '';
  					position: absolute;
  					bottom: -15px;
  					display: inline-block;
  					width: 90%;
  					height: 2px;
  					left: 0;
  					-webkit-transform: translateX(-50%);
  					transform: translateX(0%);
  					background-color: #000000bf;
  					border-radius: 2px;
				}
				.column_right_1-main-content{
					padding: 20px 5px;
					letter-spacing: 2px;
					font-size: 0.8em;
				}
			}
		}
	}//.popup-discription-end
}//.popup-element-all-wrap-end

//左寄せ1カラム
.popup-element-all-wrap{
	.popup-discription{
		.column_left_1-all-wrap{
			width: 100%;
			height: auto;
			position: relative;
			display: flex;
			margin: 60px 0;
			height: 100%;
			.column_left_1-back-wrap{
				width: 100%;
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
			}
			.column_left_1-text-wrap{
				width: 40%;
				padding: 10px;
				margin: 0 10px;
				.column_left_1-main-title{
					position: relative;
					width: 100%;
					font-size: 1.2em;
					font-weight: bold;
					letter-spacing: 5px;
				}
				.column_left_1-main-title::after{
					content: '';
  					position: absolute;
  					bottom: -15px;
  					display: inline-block;
  					width: 90%;
  					height: 2px;
  					left: 0;
  					-webkit-transform: translateX(-50%);
  					transform: translateX(0%);
  					background-color: #000000bf;
  					border-radius: 2px;
				}
				.column_left_1-main-content{
					padding: 20px 5px;
					letter-spacing: 2px;
					font-size: 0.8em;
				}
			}
		}
	}//.popup-discription-end
}//.popup-element-all-wrap-end

//2カラム
.popup-element-all-wrap{
	&.column2-width{
		width: 80%;
	}
	.popup-discription{
		.column_2-all-wrap{
			width: 100%;
			position: relative;
			display: flex;
			height: 100%;
			.column_2_item_wrap{
				width: 50%;
				padding: 20px;
				.column_2-back-wrap{
					width: 100%;
					height: 50%;
					background-size: cover;
					background-repeat: no-repeat;
					background-position: center;
				}
				.column_2-text-wrap{
					.column_2-main-title{
						position: relative;
						width: 100%;
						font-size: 1em;
						font-weight: bold;
						margin: 30px 0 10px;
						letter-spacing: 5px;
					}
					.column_2-main-title::after{
						content: '';
  						position: absolute;
  						bottom: -15px;
  						display: inline-block;
  						width: 100%;
  						height: 2px;
  						left: 0;
  						-webkit-transform: translateX(-50%);
  						transform: translateX(0%);
  						background-color: #000000bf;
  						border-radius: 2px;
					}
					.column_2-main-content{
						padding: 20px 0;
						letter-spacing: 2px;
						font-size: 0.8em;
					}
				}
			}
		}
	}//.popup-discription-end
}//.popup-element-all-wrap-end

//3カラム
.popup-element-all-wrap{
	.popup-discription{
		.column_3-all-wrap{
			width: 100%;
			position: relative;
			display: flex;
			height: 100%;
			.column_3_item_wrap{
				width: 30%;
				padding: 20px;
				.column_3-back-wrap{
					width: 100%;
					height: 50%;
					background-size: cover;
					background-repeat: no-repeat;
					background-position: center;
				}
				.column_3-text-wrap{
					.column_3-main-title{
						position: relative;
						width: 100%;
						font-size: 1em;
						font-weight: bold;
						margin: 30px 0 10px;
						letter-spacing: 5px;
					}
					.column_3-main-title::after{
						content: '';
  						position: absolute;
  						bottom: -15px;
  						display: inline-block;
  						width: 100%;
  						height: 2px;
  						left: 0;
  						-webkit-transform: translateX(-50%);
  						transform: translateX(0%);
  						background-color: #000000bf;
  						border-radius: 2px;
					}
					.column_3-main-content{
						padding: 20px 0;
						letter-spacing: 2px;
						font-size: 0.7em;
					}
				}
			}
		}
	}//.popup-discription-end
}//.popup-element-all-wrap-end

//パララックス
.popup-element-all-wrap{
	&.special-width{
		position: absolute;
		left: 0;
	}
	.popup-discription{
		.parallax-container {
    		width: 100%;
    		position: relative;
    		margin: 15% auto;
    		.parallax-section {
    		    position: relative;
    		    width: 100%;
    		    height: 510px;
				margin: 0 auto;
    		    .parallax-layer {
    		        position: absolute;
    		        top: 0;
    		        background-repeat: no-repeat;
    		        background-position: center;
    		        background-size: cover;
    		        width: 100%;
    		        height: 540px;
		
    		        &.parallax-isblock {
    		            display: block;
						
		
    		            &.parallax-isactive {
    		                position: fixed;
							left: 0;
							width: 100%;
    		            }
    		        }
					.parallax-title-wrap{
						width: 70%;
						text-align: center;
						margin: 0 auto 5%;
						text-align: center;
						box-shadow: 0px 4px 2px -3px #b6b4b4;
    		        .parallax-title {
    		            position: relative;
    		            display: block;
    		            text-align: center;
    		            font-size: 1em;
    		            font-weight: bold;
    		            background-color: rgba(255, 255, 255, 0.4);
    		            margin: 40px 0;
    		            padding: 40px 0;
    		            letter-spacing: 5px;
		
    		            span {
    		                display: inline-block;
    		                transition: 1s;
    		                opacity: 0;
    		                transform: translateX(50px);
		
    		                &.is-animated {
    		                    opacity: 1;
    		                    transform: translateX(0);
    		                }
    		            }
    		        }
						.parallax-title::before{
							content: '';
  							position: absolute;
  							bottom: 20px;
  							display: inline-block;
  							width: 60px;
  							height: 2px;
  							left: 50%;
  							-webkit-transform: translateX(-50%);
  							transform: translateX(-50%);
  							background-color: #000000bf;
  							border-radius: 2px;
						}
					}
					.parallax-content-title{
						position: absolute;
    		            display: block;
    		            text-align: center;
    		            font-size: 1.5em;
    		            font-weight: bold;
    		     		top: 30%;
						left: 50%;
						transform: translate(-50%,-50%);
    		            letter-spacing: 5px;
						color: #ffffff;
						text-shadow: 1px 1px 10px #000;
					}
					.parallax-content{
						position: absolute;
    		            display: block;
    		            font-weight: bold;
    		     		top: 50%;
						left: 50%;
						transform: translate(-50%,-50%);
    		            letter-spacing: 2px;
						color: #ffffff;
						text-shadow: 1px 1px 10px #000;
					}
    		    }
    		}
		}
	}//.popup-discription-end
}//.popup-element-all-wrap-end

//店舗情報
.popup-element-all-wrap{
	.popup-discription{
		.map-discription{
			margin: -20px 0 20px 0;
			padding: 10px;
		}
		.store-info-primary-title-prevew{
			width: 90%;
			text-align: center;
			margin: 2% auto 5%;
			text-align: center;
			box-shadow: 0px 4px 2px -3px #b6b4b4;
			.store-info-p_title{
				font-size: 1em;
				position: relative;
		  		display: inline-block;
		  		margin-bottom: 2em;
				font-weight: bold;
				letter-spacing: 5px;
				span {
		       		display: inline-block;
		       		transition: 1s;
		       		opacity: 0;
		       		transform: translateX(50px);
		       		
		       		&.is-animated {
		       		    opacity: 1;
		       		    transform: translateX(0);
		       		}
		   		 }
			}
			.store-info-p_title::before{
				content: '';
		  		position: absolute;
		  		bottom: -15px;
		  		display: inline-block;
		  		width: 60px;
		  		height: 2px;
		  		left: 50%;
		  		-webkit-transform: translateX(-50%);
		  		transform: translateX(-50%);
		  		background-color: #000000bf;
		  		border-radius: 2px;
			}
		}
		.store_info-all-wrap{
			width: 100%;
			position: relative;
			display: flex;
			.store_info-text-wrap{
				width: 30%;
				padding: 20px;
				background-color: #000000;
				.adress-detail-title{
					font-weight: bold;
					position: relative;
					color: #ffffff;
					font-size: 0.8em;				
				}
				.adress-detail-title::after{
					content: '';
		   			position: absolute;
		   			bottom: -5px;
		   			display: inline-block;
		   			width: 100%;
		   			height: 2px;
		   			left: 0;
		   			transform: translateX(0%);
		   			background-color: #ffffff69;
		   			border-radius: 2px;
				}
				.store_info-main-title{
					color: #ffffff;
					font-weight: bold;
					font-size: 0.8em;
				}
			}
			.store_info-back-wrap{
				width: 70%;
				iframe{
					width: 100%;
					height: 100%;
					box-sizing: border-box;
				}
			}
		}
	}//.popup-discription-end
}//.popup-element-all-wrap-end

//テキストエリア
.popup-element-all-wrap{
	.popup-discription{
		.text_content-back-wrap{
			width: 100%;
			margin: 20px 0;
			.text_content-text-wrap{
				width: 100%;
				.text_content-main-title{
					width: 60%;
					font-size: 1em;
					font-weight: bold;
					text-align: center;
					margin: 8% auto;
					letter-spacing: 5px;
				}
				.text_content-main-content{
					width: 80%;
					margin:  10% auto;
					line-height: 35px;
					font-size: 0.8em;
					letter-spacing: 2px;
				}
			}
		}
	}//.popup-discription-end
}//.popup-element-all-wrap-end
